In [1]:
import pandas as pd, numpy as np, polars as pl
from tqdm.notebook import tqdm
import os, sys, pickle, glob, gc
from collections import Counter
from pandarallel import pandarallel
from lightgbm import LGBMRanker
import lightgbm as lgb

pandarallel.initialize(nb_workers=28, progress_bar=False)

INFO: Pandarallel will run on 28 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

### 1 - Init variables

In [2]:
# candidate file path
candidate_file = './data/candidates.pgt'

# rerank model results
# click_rerank_result = './data/'
cart_rerank_result = './data/cart_rerank_result.pgt'
order_rerank_result = './data/order_rerank_result.pgt'

In [3]:
%%time
# loading candidates generate by co visitation matrix
candidates = pl.read_parquet(candidate_file)
candidates

CPU times: user 3.29 s, sys: 913 ms, total: 4.2 s
Wall time: 8.5 s

shape: (5015409, 3)
┌─────────────────┬─────────────────────────────────────┬───────────────────┐
│ session_type    ┆ labels                              ┆ __index_level_0__ │
│ ---             ┆ ---                                 ┆ ---               │
│ str             ┆ str                                 ┆ i64               │
╞═════════════════╪═════════════════════════════════════╪═══════════════════╡
│ 12899779_clicks ┆ 59625 1253524 737445 438191 7316... ┆ 0                 │
│ 12899780_clicks ┆ 1142000 736515 973453 582732 150... ┆ 1                 │
│ 12899781_clicks ┆ 918667 199008 194067 57315 14173... ┆ 2                 │
│ 12899782_clicks ┆ 1007613 595994 1033148 834354 47... ┆ 3                 │
│ ...             ┆ ...                                 ┆ ...               │
│ 14571578_carts  ┆ 519105 977826 1671592 1811714 82... ┆ 1671799           │
│ 14571579_carts  ┆ 739876 1209992 1550479 1750859 7... ┆ 1671800           │
│ 14571580_carts  ┆ 202353 925638 1314576 433425 178... ┆ 1671801           │
│ 14571581_carts  ┆ 1100210 1684953 462056 622489 14... ┆ 1671802           │
└─────────────────┴─────────────────────────────────────┴───────────────────┘

In [4]:
%%time
# loading rerank results
cart_rerank_aids = pl.read_parquet(cart_rerank_result)
order_rerank_aids = pl.read_parquet(order_rerank_result)

CPU times: user 523 ms, sys: 147 ms, total: 671 ms
Wall time: 1.15 s

In [5]:
cart_rerank_aids.head(3)

shape: (3, 3)
┌────────────────┬──────────────────────────────┬───────────────────┐
│ session_type   ┆ labels                       ┆ __index_level_0__ │
│ ---            ┆ ---                          ┆ ---               │
│ str            ┆ str                          ┆ i64               │
╞════════════════╪══════════════════════════════╪═══════════════════╡
│ 14571581_carts ┆ 285653                       ┆ 0                 │
│ 14571580_carts ┆ 989688 1246483 891417        ┆ 1                 │
│ 14571578_carts ┆ 538003 326064 519105 1811714 ┆ 2                 │
└────────────────┴──────────────────────────────┴───────────────────┘

In [6]:
order_rerank_aids.head(3)

shape: (3, 3)
┌─────────────────┬─────────────────┬───────────────────┐
│ session_type    ┆ labels          ┆ __index_level_0__ │
│ ---             ┆ ---             ┆ ---               │
│ str             ┆ str             ┆ i64               │
╞═════════════════╪═════════════════╪═══════════════════╡
│ 14571581_orders ┆ 1791780         ┆ 0                 │
│ 14571580_orders ┆ 871658 1627186  ┆ 1                 │
│ 14571579_orders ┆ 1286038 1051747 ┆ 2                 │
└─────────────────┴─────────────────┴───────────────────┘

In [11]:
# replace cart and order candidates by cart rerank model results
submission_file = (
    cart_rerank_aids.vstack(
        order_rerank_aids
    )
    .vstack(
        candidates.filter(pl.col('session_type').str.contains('clicks'))
    )
    .select(
        pl.col(['session_type', 'labels'])
    )
)

submission_file

shape: (5015409, 2)
┌─────────────────┬─────────────────────────────────────┐
│ session_type    ┆ labels                              │
│ ---             ┆ ---                                 │
│ str             ┆ str                                 │
╞═════════════════╪═════════════════════════════════════╡
│ 14571581_carts  ┆ 285653                              │
│ 14571580_carts  ┆ 989688 1246483 891417               │
│ 14571578_carts  ┆ 538003 326064 519105 1811714        │
│ 14571577_carts  ┆ 932022 842555                       │
│ ...             ┆ ...                                 │
│ 14571578_clicks ┆ 519105 977826 1811714 822641 815... │
│ 14571579_clicks ┆ 739876 1209992 1750859 1550479 5... │
│ 14571580_clicks ┆ 202353 1314576 433425 871658 123... │
│ 14571581_clicks ┆ 1100210 1684953 462056 1158237 1... │
└─────────────────┴─────────────────────────────────────┘

In [13]:
submission_file.write_csv('submission.csv')