# 1 -denoise data

In [4]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import gc,os,random
import time,datetime
import pandas as pd
import lightgbm as lgb
import matplotlib.pyplot as plt
from tqdm import tqdm
from multiprocessing import Pool as ProcessPool

from greedyFindBin import GreedyFindBin
from lightGBMWrapper import LightGBMWrapper
from featureEngineering import *

customer_id_column = ['customer_ID']
date_column = ['S_2']
categorical_features = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']
non_numerical_features = customer_id_column + date_column + categorical_features
label = ['target']


resized_train_file = './data/train_x_resized.feather'
resized_test_file = './data/test_x_resized.feather'

denoised_train_file = './data/train_x_denoised.feather'
denoised_test_file = './data/test_x_denoised.feather'

train_label_file = './data/amex-default-prediction/train_labels.csv'

In [5]:
t = {x : np.int8 for x in categorical_features}

def denoise(df):
    df['D_63'] = df['D_63'].map({'CR':0, 'XZ':1, 'XM':2, 'CO':3, 'CL':4, 'XL':5})
    df['D_64'] = df['D_64'].map({None:-1, 'O':0, '-1':1, 'R':2, 'U':3})
    df[categorical_features] = df[categorical_features].fillna(-1)
    df[categorical_features] = df[categorical_features].astype(t)
    for col in tqdm(df.columns):
        if col not in non_numerical_features:
            # fill na
            if df[col].max() * 100 > np.finfo(np.float16).max:
                df[col] = df[col].fillna(0).astype(np.float32)
            else:
                df[col] = df[col].fillna(0)
            # remove noise
            df[col] = np.floor(df[col] * 100).astype(np.int16)
    return df

In [6]:
# denoise training data
if not os.path.isfile(denoised_train_file):
    train = pd.read_feather(resized_train_file)
    train = denoise(train)
    train.to_feather(denoised_train_file)
    del train

In [7]:
# denoise testing data
if not os.path.isfile(denoised_test_file):
    test = pd.read_feather(resized_test_file)
    test = denoise(test)
    test.to_feather(denoised_test_file)
    del test

In [8]:
%%time
# load denoised data
train_x = pd.read_feather(denoised_train_file)
# loading label file
train_y = pd.read_csv(train_label_file)
# join x with y
training = pd.merge(train_x, train_y, how='inner', on=['customer_ID'])
training.head(2)

CPU times: user 8.28 s, sys: 14.6 s, total: 22.9 s
Wall time: 16.7 s

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,93,0,0,100,0,12,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,93,0,0,100,0,12,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
# numerical_features
numerical_features = [x for x in train_x.columns if x not in non_numerical_features]

# 2 - feature engineering

In [10]:
# normalization
training[numerical_features] = training[numerical_features] / 100

## 2.1 raw feature handling

In [104]:
# normal dataframe
original_features_one_hotted = one_hot_encoding(training, categorical_features, is_drop=False)
original_features_categorical_statistic = category_feature_statistic(original_features_one_hotted, categorical_features, calc_last=False)
original_features_numerical_statistic = numerical_feature_statistic(original_features_one_hotted, numerical_features, calc_last=False)
original_features_diff_statistic = diff_features(original_features_one_hotted, numerical_features, calc_last=False)

one hot encoding: B_30
one hot encoding: B_38
one hot encoding: D_114
one hot encoding: D_116
one hot encoding: D_117
one hot encoding: D_120
one hot encoding: D_126
one hot encoding: D_63
one hot encoding: D_64
one hot encoding: D_66
one hot encoding: D_68
one hot cols:['one_hot_B_30_-1', 'one_hot_B_30_0', 'one_hot_B_30_1', 'one_hot_B_30_2', 'one_hot_B_38_-1', 'one_hot_B_38_1', 'one_hot_B_38_2', 'one_hot_B_38_3', 'one_hot_B_38_4', 'one_hot_B_38_5', 'one_hot_B_38_6', 'one_hot_B_38_7', 'one_hot_D_114_-1', 'one_hot_D_114_0', 'one_hot_D_114_1', 'one_hot_D_116_-1', 'one_hot_D_116_0', 'one_hot_D_116_1', 'one_hot_D_117_-1', 'one_hot_D_117_1', 'one_hot_D_117_2', 'one_hot_D_117_3', 'one_hot_D_117_4', 'one_hot_D_117_5', 'one_hot_D_117_6', 'one_hot_D_120_-1', 'one_hot_D_120_0', 'one_hot_D_120_1', 'one_hot_D_126_-1', 'one_hot_D_126_0', 'one_hot_D_126_1', 'one_hot_D_63_0', 'one_hot_D_63_1', 'one_hot_D_63_2', 'one_hot_D_63_3', 'one_hot_D_63_4', 'one_hot_D_63_5', 'one_hot_D_64_-1', 'one_hot_D_64_0', 'one_hot_D_64_1', 'one_hot_D_64_2', 'one_hot_D_64_3', 'one_hot_D_66_-1', 'one_hot_D_66_0', 'one_hot_D_66_1', 'one_hot_D_68_-1', 'one_hot_D_68_0', 'one_hot_D_68_1', 'one_hot_D_68_2', 'one_hot_D_68_3', 'one_hot_D_68_4', 'one_hot_D_68_5', 'one_hot_D_68_6']

### 2.1.1 categorical feature statistic - mean, std, sum, last

In [106]:
original_features_categorical_statistic.head(2)

,customer_ID,one_hot_B_30_-1_mean,one_hot_B_30_-1_std,one_hot_B_30_-1_sum,one_hot_B_30_0_mean,one_hot_B_30_0_std,one_hot_B_30_0_sum,one_hot_B_30_1_mean,one_hot_B_30_1_std,one_hot_B_30_1_sum,...,D_114_nunique,D_116_nunique,D_117_nunique,D_120_nunique,D_126_nunique,D_63_nunique,D_64_nunique,D_66_nunique,D_68_nunique,S_2_count
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.0,0,1.0,0.0,13,0.0,0.0,0,...,1,1,1,1,1,1,1,1,1,13
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.0,0.0,0,1.0,0.0,13,0.0,0.0,0,...,1,1,1,2,1,1,1,1,1,13

### 2.1.2 numerical feature statistic - mean, std, max, min, sum, last

In [107]:
original_features_numerical_statistic.head(2)

,customer_ID,P_2_mean,P_2_std,P_2_min,P_2_max,P_2_sum,D_39_mean,D_39_std,D_39_min,D_39_max,...,D_144_mean,D_144_std,D_144_min,D_144_max,D_144_sum,D_145_mean,D_145_std,D_145_min,D_145_max,D_145_sum
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.928462,0.026092,0.86,0.96,12.07,0.006923,0.024962,0.0,0.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.895385,0.020662,0.86,0.92,11.64,0.210769,0.198472,0.0,0.56,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [133]:
original_features_numerical_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 886 entries, customer_ID to D_145_sum
dtypes: float64(885), object(1)
memory usage: 3.0+ GB

In [134]:
# convert to float16 to save memory
for c in tqdm(original_features_numerical_statistic.columns[1:]):
    original_features_numerical_statistic[c] = original_features_numerical_statistic[c].astype(np.float16)

100%|██████████| 885/885 [15:55<00:00,  1.08s/it]

In [135]:
# after conversion
original_features_numerical_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 886 entries, customer_ID to D_145_sum
dtypes: float16(885), object(1)
memory usage: 778.1+ MB

### 2.1.3 numerical feature - differ statistic - mean, std, min, max, sum, last

In [108]:
original_features_diff_statistic.head(2)

,customer_ID,diff_P_2_mean,diff_P_2_std,diff_P_2_min,diff_P_2_max,diff_P_2_sum,diff_P_2_last,diff_D_39_mean,diff_D_39_std,diff_D_39_min,...,diff_D_144_min,diff_D_144_max,diff_D_144_sum,diff_D_144_last,diff_D_145_mean,diff_D_145_std,diff_D_145_min,diff_D_145_max,diff_D_145_sum,diff_D_145_last
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.000000,0.035675,-0.09,0.04,0.00,0.00,0.0000,0.038376,-0.09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,-0.003333,0.016143,-0.04,0.02,-0.04,0.01,-0.0175,0.302388,-0.38,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
original_features_diff_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 1063 entries, customer_ID to diff_D_145_last
dtypes: float64(1062), object(1)
memory usage: 3.6+ GB

In [137]:
# convert to float16 to save memory
for c in tqdm(original_features_diff_statistic.columns[1:]):
    original_features_diff_statistic[c] = original_features_diff_statistic[c].astype(np.float16)

100%|██████████| 1062/1062 [22:26<00:00,  1.27s/it]

In [138]:
original_features_diff_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 1063 entries, customer_ID to diff_D_145_last
dtypes: float16(1062), object(1)
memory usage: 933.1+ MB

### 2.1.4 concat all the statistics calculate from raw feature

In [151]:
original_features_diff_statistic.columns

Index(['customer_ID', 'diff_P_2_mean', 'diff_P_2_std', 'diff_P_2_min',
       'diff_P_2_max', 'diff_P_2_sum', 'diff_P_2_last', 'diff_D_39_mean',
       'diff_D_39_std', 'diff_D_39_min',
       ...
       'diff_D_144_min', 'diff_D_144_max', 'diff_D_144_sum', 'diff_D_144_last',
       'diff_D_145_mean', 'diff_D_145_std', 'diff_D_145_min', 'diff_D_145_max',
       'diff_D_145_sum', 'diff_D_145_last'],
      dtype='object', length=1063)

In [152]:
assert original_features_categorical_statistic[customer_id_column].equals(original_features_numerical_statistic[customer_id_column]) == True
assert original_features_categorical_statistic[customer_id_column].equals(original_features_diff_statistic[customer_id_column]) == True

raw_feature_statistic = pd.concat([original_features_categorical_statistic, 
                                   original_features_numerical_statistic.drop(columns=customer_id_column), 
                                   original_features_diff_statistic.drop(columns=customer_id_column)], axis=1)

raw_feature_statistic.head(2)

,customer_ID,one_hot_B_30_-1_mean,one_hot_B_30_-1_std,one_hot_B_30_-1_sum,one_hot_B_30_0_mean,one_hot_B_30_0_std,one_hot_B_30_0_sum,one_hot_B_30_1_mean,one_hot_B_30_1_std,one_hot_B_30_1_sum,...,diff_D_144_min,diff_D_144_max,diff_D_144_sum,diff_D_144_last,diff_D_145_mean,diff_D_145_std,diff_D_145_min,diff_D_145_max,diff_D_145_sum,diff_D_145_last
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.0,0,1.0,0.0,13,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.0,0.0,0,1.0,0.0,13,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [153]:
raw_feature_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 2119 entries, customer_ID to diff_D_145_last
dtypes: float16(1947), float64(106), int64(12), object(1), uint8(53)
memory usage: 2.1+ GB

In [154]:
# write to disk
raw_feature_statistic.to_feather('./data/raw_feature_statistic.feather')

# release memory
del original_features_categorical_statistic
del original_features_numerical_statistic
del original_features_diff_statistic
del raw_feature_statistic

## 2.2 ranking feature handling

### 2.2.1 customer level rank - customer compare with his historical features

In [155]:
customer_ranking_features = customer_rankings_features(training, numerical_features)

customer_ranking_features.head(2)

,customer_ID,rank_P_2,rank_D_39,rank_B_1,rank_B_2,rank_R_1,rank_S_3,rank_D_41,rank_B_3,rank_D_42,...,rank_D_136,rank_D_137,rank_D_138,rank_D_139,rank_D_140,rank_D_141,rank_D_142,rank_D_143,rank_D_144,rank_D_145
12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.423077,0.500000,0.269231,0.500000,0.538462,1.0,0.538462,0.538462,0.538462,...,0.538462,0.538462,0.538462,0.538462,0.538462,0.538462,0.538462,0.538462,0.538462,0.538462
25,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.346154,0.461538,0.807692,0.576923,0.538462,1.0,0.538462,0.461538,0.538462,...,0.538462,0.538462,0.538462,0.538462,0.538462,0.538462,0.538462,0.500000,0.538462,0.538462

In [156]:
customer_ranking_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458913 entries, 12 to 5531450
Columns: 178 entries, customer_ID to rank_D_145
dtypes: float64(177), object(1)
memory usage: 626.7+ MB

In [163]:
%%time
c_ranking_desc = customer_ranking_features.describe()

c_ranking_desc.T

CPU times: user 2.19 s, sys: 183 ms, total: 2.37 s
Wall time: 2.38 s

,count,mean,std,min,25%,50%,75%,max
rank_P_2,458913.0,0.555308,0.316789,0.076923,0.269231,0.555556,0.846154,1.0
rank_D_39,458913.0,0.576260,0.246920,0.076923,0.384615,0.538462,0.769231,1.0
rank_B_1,458913.0,0.579572,0.280572,0.076923,0.384615,0.538462,0.846154,1.0
rank_B_2,458913.0,0.519477,0.243522,0.076923,0.384615,0.538462,0.653846,1.0
rank_R_1,458913.0,0.565179,0.156579,0.076923,0.500000,0.538462,0.538462,1.0
...,...,...,...,...,...,...,...,...
rank_D_141,458913.0,0.582584,0.123586,0.076923,0.538462,0.538462,0.545455,1.0
rank_D_142,458913.0,0.615039,0.166681,0.076923,0.538462,0.538462,0.555556,1.0
rank_D_143,458913.0,0.553040,0.087113,0.076923,0.538462,0.538462,0.538462,1.0
rank_D_144,458913.0,0.569257,0.117179,0.076923,0.538462,0.538462,0.538462,1.0
rank_D_145,458913.0,0.555395,0.111699,0.076923,0.538462,0.538462,0.538462,1.0

In [165]:
# convert to float16 to save memory
for c in tqdm(customer_ranking_features.columns[1:]):
    customer_ranking_features[c] = customer_ranking_features[c].astype(np.float16)

100%|██████████| 177/177 [00:35<00:00,  4.98it/s]

In [166]:
customer_ranking_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458913 entries, 12 to 5531450
Columns: 178 entries, customer_ID to rank_D_145
dtypes: float16(177), object(1)
memory usage: 161.9+ MB

### 2.2.2 year-month level rank - customer compare with the other customer at the same year-month

In [158]:
year_month_ranking_features = year_month_ranking_features(training, numerical_features)

year_month_ranking_features.head(2)

,customer_ID,ym_rank_P_2,ym_rank_D_39,ym_rank_B_1,ym_rank_B_2,ym_rank_R_1,ym_rank_S_3,ym_rank_D_41,ym_rank_B_3,ym_rank_D_42,...,ym_rank_D_136,ym_rank_D_137,ym_rank_D_138,ym_rank_D_139,ym_rank_D_140,ym_rank_D_141,ym_rank_D_142,ym_rank_D_143,ym_rank_D_144,ym_rank_D_145
12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.888668,0.261363,0.143238,0.833268,0.421766,0.421881,0.41682,0.243286,0.440388,...,0.486787,0.499838,0.494942,0.41242,0.487954,0.412431,0.41408,0.412482,0.454187,0.412427
25,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.793710,0.699167,0.507850,0.833268,0.421766,0.593921,0.41682,0.243286,0.440388,...,0.486787,0.499838,0.494942,0.41242,0.487954,0.412431,0.41408,0.412482,0.454187,0.412427

In [167]:
year_month_ranking_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458913 entries, 12 to 5531450
Columns: 178 entries, customer_ID to ym_rank_D_145
dtypes: float64(177), object(1)
memory usage: 626.7+ MB

In [168]:
%%time
ym_ranking_desc = year_month_ranking_features.describe()

ym_ranking_desc.T

CPU times: user 2.19 s, sys: 197 ms, total: 2.38 s
Wall time: 2.39 s

,count,mean,std,min,25%,50%,75%,max
ym_rank_P_2,458913.0,0.500001,0.288651,0.000002,0.250550,0.494909,0.755668,0.999097
ym_rank_D_39,458913.0,0.500001,0.267109,0.261363,0.261363,0.261363,0.751192,1.000000
ym_rank_B_1,458913.0,0.500001,0.285123,0.000002,0.143238,0.507850,0.751133,0.999192
ym_rank_B_2,458913.0,0.500001,0.282500,0.029639,0.255368,0.538009,0.833268,0.988865
ym_rank_R_1,458913.0,0.500001,0.182399,0.421766,0.421766,0.421766,0.421766,0.999999
...,...,...,...,...,...,...,...,...
ym_rank_D_141,458913.0,0.500001,0.191210,0.412431,0.412431,0.412431,0.412431,1.000000
ym_rank_D_142,458913.0,0.500001,0.190366,0.000010,0.414080,0.414080,0.414080,1.000000
ym_rank_D_143,458913.0,0.500001,0.190234,0.412482,0.412482,0.412482,0.412482,0.993807
ym_rank_D_144,458913.0,0.500001,0.144472,0.454187,0.454187,0.454187,0.454187,0.999696
ym_rank_D_145,458913.0,0.500001,0.191166,0.412427,0.412427,0.412427,0.412427,1.000000

In [169]:
# convert to float16 to save memory
for c in tqdm(year_month_ranking_features.columns[1:]):
    year_month_ranking_features[c] = year_month_ranking_features[c].astype(np.float16)

100%|██████████| 177/177 [00:36<00:00,  4.89it/s]

In [170]:
year_month_ranking_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458913 entries, 12 to 5531450
Columns: 178 entries, customer_ID to ym_rank_D_145
dtypes: float16(177), object(1)
memory usage: 161.9+ MB

In [174]:
assert customer_ranking_features[customer_id_column].equals(year_month_ranking_features[customer_id_column]) == True

rank_feature = pd.concat([customer_ranking_features, year_month_ranking_features.drop(columns=customer_id_column)], axis=1).reset_index()

rank_feature.head(2)

,index,customer_ID,rank_P_2,rank_D_39,rank_B_1,rank_B_2,rank_R_1,rank_S_3,rank_D_41,rank_B_3,...,ym_rank_D_136,ym_rank_D_137,ym_rank_D_138,ym_rank_D_139,ym_rank_D_140,ym_rank_D_141,ym_rank_D_142,ym_rank_D_143,ym_rank_D_144,ym_rank_D_145
0,12,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.423096,0.500000,0.269287,0.500000,0.538574,1.0,0.538574,0.538574,...,0.486816,0.499756,0.494873,0.412354,0.488037,0.412354,0.414062,0.412598,0.454102,0.412354
1,25,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.346191,0.461426,0.807617,0.577148,0.538574,1.0,0.538574,0.461426,...,0.486816,0.499756,0.494873,0.412354,0.488037,0.412354,0.414062,0.412598,0.454102,0.412354

In [175]:
rank_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 356 entries, index to ym_rank_D_145
dtypes: float16(354), int64(1), object(1)
memory usage: 316.9+ MB

In [176]:
# write to disk
rank_feature.to_feather('./data/rank_feature.feather')

# release memory
del customer_ranking_features
del year_month_ranking_features
del rank_feature

## 2.3 latest 3 and latest 6 transaction related feature

### 2.3.1 latest 3 transaction feature

In [177]:
# retrieve latest 3 transactions for each customer
l3_txn = retrieve_last_n_transactions_per_customer(training, n=3)
# one hot
l3_txn_one_hotted = one_hot_encoding(l3_txn, categorical_features, is_drop=False)
# categorical feature statistic
l3_txn__features_categorical_statistic = category_feature_statistic(l3_txn_one_hotted, categorical_features, calc_last=False)
# numerical statisitc
l3_txn__features_numerical_statistic = numerical_feature_statistic(l3_txn, numerical_features, calc_last=False)
# diff statistic
l3_txn__features_diff_statistic = diff_features(l3_txn, numerical_features, calc_last=False)

one hot encoding: B_30
one hot encoding: B_38
one hot encoding: D_114
one hot encoding: D_116
one hot encoding: D_117
one hot encoding: D_120
one hot encoding: D_126
one hot encoding: D_63
one hot encoding: D_64
one hot encoding: D_66
one hot encoding: D_68
one hot cols:['one_hot_B_30_-1', 'one_hot_B_30_0', 'one_hot_B_30_1', 'one_hot_B_30_2', 'one_hot_B_38_-1', 'one_hot_B_38_1', 'one_hot_B_38_2', 'one_hot_B_38_3', 'one_hot_B_38_4', 'one_hot_B_38_5', 'one_hot_B_38_6', 'one_hot_B_38_7', 'one_hot_D_114_-1', 'one_hot_D_114_0', 'one_hot_D_114_1', 'one_hot_D_116_-1', 'one_hot_D_116_0', 'one_hot_D_116_1', 'one_hot_D_117_-1', 'one_hot_D_117_1', 'one_hot_D_117_2', 'one_hot_D_117_3', 'one_hot_D_117_4', 'one_hot_D_117_5', 'one_hot_D_117_6', 'one_hot_D_120_-1', 'one_hot_D_120_0', 'one_hot_D_120_1', 'one_hot_D_126_-1', 'one_hot_D_126_0', 'one_hot_D_126_1', 'one_hot_D_63_0', 'one_hot_D_63_1', 'one_hot_D_63_2', 'one_hot_D_63_3', 'one_hot_D_63_4', 'one_hot_D_63_5', 'one_hot_D_64_-1', 'one_hot_D_64_0', 'one_hot_D_64_1', 'one_hot_D_64_2', 'one_hot_D_64_3', 'one_hot_D_66_-1', 'one_hot_D_66_0', 'one_hot_D_66_1', 'one_hot_D_68_-1', 'one_hot_D_68_0', 'one_hot_D_68_1', 'one_hot_D_68_2', 'one_hot_D_68_3', 'one_hot_D_68_4', 'one_hot_D_68_5', 'one_hot_D_68_6']

### categorical statistic

In [178]:
l3_txn__features_categorical_statistic.head(2)

,customer_ID,one_hot_B_30_-1_mean,one_hot_B_30_-1_std,one_hot_B_30_-1_sum,one_hot_B_30_0_mean,one_hot_B_30_0_std,one_hot_B_30_0_sum,one_hot_B_30_1_mean,one_hot_B_30_1_std,one_hot_B_30_1_sum,...,D_114_nunique,D_116_nunique,D_117_nunique,D_120_nunique,D_126_nunique,D_63_nunique,D_64_nunique,D_66_nunique,D_68_nunique,S_2_count
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.0,0,1.0,0.0,3,0.0,0.0,0,...,1,1,1,1,1,1,1,1,1,3
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.0,0.0,0,1.0,0.0,3,0.0,0.0,0,...,1,1,1,2,1,1,1,1,1,3

In [186]:
l3_txn__features_categorical_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 172 entries, customer_ID to S_2_count
dtypes: float64(106), int64(12), object(1), uint8(53)
memory usage: 439.8+ MB

In [190]:
# rename columns avoid conflict
renamed_columns = customer_id_column + ['l3_' + t for t in l3_txn__features_categorical_statistic.columns[1:]]

l3_txn__features_categorical_statistic.columns = renamed_columns

In [191]:
l3_txn__features_categorical_statistic.head(2)

,customer_ID,l3_one_hot_B_30_-1_mean,l3_one_hot_B_30_-1_std,l3_one_hot_B_30_-1_sum,l3_one_hot_B_30_0_mean,l3_one_hot_B_30_0_std,l3_one_hot_B_30_0_sum,l3_one_hot_B_30_1_mean,l3_one_hot_B_30_1_std,l3_one_hot_B_30_1_sum,...,l3_D_114_nunique,l3_D_116_nunique,l3_D_117_nunique,l3_D_120_nunique,l3_D_126_nunique,l3_D_63_nunique,l3_D_64_nunique,l3_D_66_nunique,l3_D_68_nunique,l3_S_2_count
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.0,0,1.0,0.0,3,0.0,0.0,0,...,1,1,1,1,1,1,1,1,1,3
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.0,0.0,0,1.0,0.0,3,0.0,0.0,0,...,1,1,1,2,1,1,1,1,1,3

### numerical statistic

In [192]:
l3_txn__features_numerical_statistic.head(2)

,customer_ID,P_2_mean,P_2_std,P_2_min,P_2_max,P_2_sum,D_39_mean,D_39_std,D_39_min,D_39_max,...,D_144_mean,D_144_std,D_144_min,D_144_max,D_144_sum,D_145_mean,D_145_std,D_145_min,D_145_max,D_145_sum
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.920000,0.017321,0.90,0.93,2.76,0.000000,0.000000,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.876667,0.005774,0.87,0.88,2.63,0.303333,0.197315,0.17,0.53,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [193]:
l3_txn__features_numerical_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 886 entries, customer_ID to D_145_sum
dtypes: float64(885), object(1)
memory usage: 3.0+ GB

In [197]:
for c in tqdm(l3_txn__features_numerical_statistic.columns[1:]):
    l3_txn__features_numerical_statistic[c] = l3_txn__features_numerical_statistic[c].astype(np.float16)

100%|██████████| 885/885 [15:26<00:00,  1.05s/it]

In [198]:
# rename columns avoid conflict
renamed_columns = customer_id_column + ['l3_' + t for t in l3_txn__features_numerical_statistic.columns[1:]]

l3_txn__features_numerical_statistic.columns = renamed_columns

l3_txn__features_numerical_statistic.head(2)

,customer_ID,l3_P_2_mean,l3_P_2_std,l3_P_2_min,l3_P_2_max,l3_P_2_sum,l3_D_39_mean,l3_D_39_std,l3_D_39_min,l3_D_39_max,...,l3_D_144_mean,l3_D_144_std,l3_D_144_min,l3_D_144_max,l3_D_144_sum,l3_D_145_mean,l3_D_145_std,l3_D_145_min,l3_D_145_max,l3_D_145_sum
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.919922,0.017319,0.899902,0.930176,2.759766,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.876465,0.005772,0.870117,0.879883,2.630859,0.303223,0.197266,0.170044,0.529785,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [199]:
l3_txn__features_numerical_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 886 entries, customer_ID to l3_D_145_sum
dtypes: float16(885), object(1)
memory usage: 778.1+ MB

### diff statistic

In [202]:
l3_txn__features_diff_statistic.head(2)

,customer_ID,diff_P_2_mean,diff_P_2_std,diff_P_2_min,diff_P_2_max,diff_P_2_sum,diff_P_2_last,diff_D_39_mean,diff_D_39_std,diff_D_39_min,...,diff_D_144_min,diff_D_144_max,diff_D_144_sum,diff_D_144_last,diff_D_145_mean,diff_D_145_std,diff_D_145_min,diff_D_145_max,diff_D_145_sum,diff_D_145_last
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.015,0.021213,0.00,0.03,0.03,0.00,0.00,0.000000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.000,0.014142,-0.01,0.01,0.00,0.01,-0.02,0.480833,-0.36,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [203]:
l3_txn__features_diff_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 1063 entries, customer_ID to diff_D_145_last
dtypes: float64(1062), object(1)
memory usage: 3.6+ GB

In [204]:
for c in tqdm(l3_txn__features_diff_statistic.columns[1:]):
    l3_txn__features_diff_statistic[c] = l3_txn__features_diff_statistic[c].astype(np.float16)

100%|██████████| 1062/1062 [2:44:21<00:00,  9.29s/it]

In [205]:
# rename columns avoid conflict
renamed_columns = customer_id_column + ['l3_' + t for t in l3_txn__features_diff_statistic.columns[1:]]

l3_txn__features_diff_statistic.columns = renamed_columns

l3_txn__features_diff_statistic.head(2)

,customer_ID,l3_diff_P_2_mean,l3_diff_P_2_std,l3_diff_P_2_min,l3_diff_P_2_max,l3_diff_P_2_sum,l3_diff_P_2_last,l3_diff_D_39_mean,l3_diff_D_39_std,l3_diff_D_39_min,...,l3_diff_D_144_min,l3_diff_D_144_max,l3_diff_D_144_sum,l3_diff_D_144_last,l3_diff_D_145_mean,l3_diff_D_145_std,l3_diff_D_145_min,l3_diff_D_145_max,l3_diff_D_145_sum,l3_diff_D_145_last
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.014999,0.021210,0.000000,0.029999,0.029999,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.000000,0.014145,-0.010002,0.010002,0.000000,0.010002,-0.020004,0.480713,-0.360107,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [206]:
l3_txn__features_diff_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 1063 entries, customer_ID to l3_diff_D_145_last
dtypes: float16(1062), object(1)
memory usage: 933.1+ MB

### concat features and save to disk

In [207]:
assert l3_txn__features_categorical_statistic[customer_id_column].equals(l3_txn__features_numerical_statistic[customer_id_column]) == True
assert l3_txn__features_categorical_statistic[customer_id_column].equals(l3_txn__features_diff_statistic[customer_id_column]) == True

l3_feature_statistic = pd.concat([l3_txn__features_categorical_statistic, 
                                  l3_txn__features_numerical_statistic.drop(columns=customer_id_column), 
                                  l3_txn__features_diff_statistic.drop(columns=customer_id_column)], axis=1)

l3_feature_statistic.head(2)

,customer_ID,l3_one_hot_B_30_-1_mean,l3_one_hot_B_30_-1_std,l3_one_hot_B_30_-1_sum,l3_one_hot_B_30_0_mean,l3_one_hot_B_30_0_std,l3_one_hot_B_30_0_sum,l3_one_hot_B_30_1_mean,l3_one_hot_B_30_1_std,l3_one_hot_B_30_1_sum,...,l3_diff_D_144_min,l3_diff_D_144_max,l3_diff_D_144_sum,l3_diff_D_144_last,l3_diff_D_145_mean,l3_diff_D_145_std,l3_diff_D_145_min,l3_diff_D_145_max,l3_diff_D_145_sum,l3_diff_D_145_last
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.0,0.0,0,1.0,0.0,3,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.0,0.0,0,1.0,0.0,3,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [208]:
l3_feature_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 2119 entries, customer_ID to l3_diff_D_145_last
dtypes: float16(1947), float64(106), int64(12), object(1), uint8(53)
memory usage: 2.1+ GB

In [209]:
# write to disk
l3_feature_statistic.to_feather('./data/l3_statistic.feather')

# release memory
del l3_txn__features_categorical_statistic
del l3_txn__features_numerical_statistic
del l3_txn__features_diff_statistic
del l3_feature_statistic

### 2.3.2 latest 6 transaction feature

In [210]:
# latest 6 transactions features
l6_txn = retrieve_last_n_transactions_per_customer(training, n=6)
l6_txn_features_numerical_statistic = numerical_feature_statistic(l6_txn, numerical_features, calc_last=False)
l6_txn_features_numerical_statistic.head()

,customer_ID,P_2_mean,P_2_std,P_2_min,P_2_max,P_2_sum,D_39_mean,D_39_std,D_39_min,D_39_max,...,D_144_mean,D_144_std,D_144_min,D_144_max,D_144_sum,D_145_mean,D_145_std,D_145_min,D_145_max,D_145_sum
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.913333,0.031411,0.86,0.95,5.48,0.000000,0.000000,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.878333,0.017224,0.86,0.91,5.27,0.206667,0.194182,0.0,0.53,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00001b22f846c82c51f6e3958ccd81970162bae8b007e8...,0.865000,0.039370,0.79,0.90,5.19,0.000000,0.000000,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000041bdba6ecadd89a52d11886e8eaaec9325906c9723...,0.613333,0.008165,0.60,0.62,3.68,0.005000,0.012247,0.0,0.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,00007889e4fcd2614b6cbe7f8f3d2e5c728eca32d9eb8a...,0.868333,0.007528,0.86,0.88,5.21,0.000000,0.000000,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [211]:
l6_txn_features_numerical_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 886 entries, customer_ID to D_145_sum
dtypes: float64(885), object(1)
memory usage: 3.0+ GB

In [212]:
for c in tqdm(l6_txn_features_numerical_statistic.columns[1:]):
    l6_txn_features_numerical_statistic[c] = l6_txn_features_numerical_statistic[c].astype(np.float16)

100%|██████████| 885/885 [15:32<00:00,  1.05s/it]

In [213]:
l6_txn_features_numerical_statistic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458913 entries, 0 to 458912
Columns: 886 entries, customer_ID to D_145_sum
dtypes: float16(885), object(1)
memory usage: 778.1+ MB

In [214]:
# rename columns avoid conflict
renamed_columns = customer_id_column + ['l6_' + t for t in l6_txn_features_numerical_statistic.columns[1:]]

l6_txn_features_numerical_statistic.columns = renamed_columns

l6_txn_features_numerical_statistic.head(2)

,customer_ID,l6_P_2_mean,l6_P_2_std,l6_P_2_min,l6_P_2_max,l6_P_2_sum,l6_D_39_mean,l6_D_39_std,l6_D_39_min,l6_D_39_max,...,l6_D_144_mean,l6_D_144_std,l6_D_144_min,l6_D_144_max,l6_D_144_sum,l6_D_145_mean,l6_D_145_std,l6_D_145_min,l6_D_145_max,l6_D_145_sum
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,0.913574,0.031403,0.859863,0.950195,5.480469,0.000000,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00000fd6641609c6ece5454664794f0340ad84dddce9a2...,0.878418,0.017227,0.859863,0.910156,5.269531,0.206665,0.194214,0.0,0.529785,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [215]:
# write to disk
l6_txn_features_numerical_statistic.to_feather('./data/l6_statistic.feather')

# release memory
del l6_txn_features_numerical_statistic

## 2.4 Series feature

- Train a lightGBM with raw feature + onehot encoding
- Using prediction as series input for up coming models

In [265]:
# reload training
#del training
training = pd.merge(train_x, train_y, how='inner', on=['customer_ID'])
training.head(2)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,93,0,0,100,0,12,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,93,0,0,100,0,12,0,0,...,0,0,0,0,0,0,0,0,0,0

In [222]:
# normalization
training[numerical_features] = training[numerical_features] / 100

In [11]:
# convert to float16 to save memory
for c in tqdm(numerical_features):
    training[c] = training[c].astype(np.float16)

100%|██████████| 177/177 [00:16<00:00, 10.99it/s]

In [12]:
training_onehot = one_hot_encoding(training, categorical_features, is_drop=True)
training_onehot.head()

one hot encoding: B_30
one hot encoding: B_38
one hot encoding: D_114
one hot encoding: D_116
one hot encoding: D_117
one hot encoding: D_120
one hot encoding: D_126
one hot encoding: D_63
one hot encoding: D_64
one hot encoding: D_66
one hot encoding: D_68

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,one_hot_D_66_0,one_hot_D_66_1,one_hot_D_68_-1,one_hot_D_68_0,one_hot_D_68_1,one_hot_D_68_2,one_hot_D_68_3,one_hot_D_68_4,one_hot_D_68_5,one_hot_D_68_6
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,0.930176,0.000000,0.000000,1.000000,0.0,0.119995,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,0.930176,0.000000,0.000000,1.000000,0.0,0.119995,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,0.950195,0.090027,0.020004,1.009766,0.0,0.119995,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,0.959961,0.000000,0.010002,1.000000,0.0,0.109985,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,0.939941,0.000000,0.010002,1.000000,0.0,0.109985,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
training_onehot.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5531451 entries, 0 to 5531450
Columns: 233 entries, customer_ID to one_hot_D_68_6
dtypes: float16(177), int64(1), object(2), uint8(53)
memory usage: 2.3+ GB

In [14]:
model_features = [c for c in training_onehot.columns if c not in (customer_id_column + date_column + label)]

In [19]:
# define lightGBM config
lgb_config = {
    'name': 'lightGBM_raw_feature',
    'root_path':'/Users/qucy/Kaggle/amex_default_prediction/model/',
    'seed':42,
    'epoch':4500,
    'early_stopping':100,
    'verbose_eval':50,
    'n_folds':5,
    'features': model_features,
    'label': label,
    'id': customer_id_column,
    'verbose_eval': 50,
    'remark': 'lgb_with_numerical_feature',
    'lgb_hyper_params':{
                  'objective' : 'binary',
                  'metric' : 'binary_logloss',
                  'boosting': 'goss', # dart
                  'max_depth' : -1,
                  'num_leaves' : 64,
                  'learning_rate' : 0.035,
                  #'bagging_freq': 5,
                  #'bagging_fraction' : 0.7,
                  'feature_fraction' : 0.7,
                  'min_data_in_leaf': 256,
                  'max_bin': 63,
                  'min_data_in_bin': 256,
                  'tree_learner': 'serial',
                  'boost_from_average': 'false',
                  'lambda_l1' : 0.1,
                  'lambda_l2' : 30,
                  'num_threads': 6,
                  'verbosity' : 1,
    }
}
# construct lightGBM model
lightGBMModel = LightGBMWrapper(lgb_config)

In [20]:
lightGBMModel.train(training_onehot)

================================Model Config Start================================

{'name': 'lightGBM_raw_feature', 'root_path': '/Users/qucy/Kaggle/amex_default_prediction/model/', 'seed': 42, 'epoch': 4500, 'early_stopping': 100, 'verbose_eval': 50, 'n_folds': 5, 'features': ['P_2', 'D_39', 'B_1', 'B_2', 'R_1', 'S_3', 'D_41', 'B_3', 'D_42', 'D_43', 'D_44', 'B_4', 'D_45', 'B_5', 'R_2', 'D_46', 'D_47', 'D_48', 'D_49', 'B_6', 'B_7', 'B_8', 'D_50', 'D_51', 'B_9', 'R_3', 'D_52', 'P_3', 'B_10', 'D_53', 'S_5', 'B_11', 'S_6', 'D_54', 'R_4', 'S_7', 'B_12', 'S_8', 'D_55', 'D_56', 'B_13', 'R_5', 'D_58', 'S_9', 'B_14', 'D_59', 'D_60', 'D_61', 'B_15', 'S_11', 'D_62', 'D_65', 'B_16', 'B_17', 'B_18', 'B_19', 'B_20', 'S_12', 'R_6', 'S_13', 'B_21', 'D_69', 'B_22', 'D_70', 'D_71', 'D_72', 'S_15', 'B_23', 'D_73', 'P_4', 'D_74', 'D_75', 'D_76', 'B_24', 'R_7', 'D_77', 'B_25', 'B_26', 'D_78', 'D_79', 'R_8', 'R_9', 'S_16', 'D_80', 'R_10', 'R_11', 'B_27', 'D_81', 'D_82', 'S_17', 'R_12', 'B_28', 'R_13', 'D_83', 'R_14', 'R_15', 'D_84', 'R_16', 'B_29', 'S_18', 'D_86', 'D_87', 'R_17', 'R_18', 'D_88', 'B_31', 'S_19', 'R_19', 'B_32', 'S_20', 'R_20', 'R_21', 'B_33', 'D_89', 'R_22', 'R_23', 'D_91', 'D_92', 'D_93', 'D_94', 'R_24', 'R_25', 'D_96', 'S_22', 'S_23', 'S_24', 'S_25', 'S_26', 'D_102', 'D_103', 'D_104', 'D_105', 'D_106', 'D_107', 'B_36', 'B_37', 'R_26', 'R_27', 'D_108', 'D_109', 'D_110', 'D_111', 'B_39', 'D_112', 'B_40', 'S_27', 'D_113', 'D_115', 'D_118', 'D_119', 'D_121', 'D_122', 'D_123', 'D_124', 'D_125', 'D_127', 'D_128', 'D_129', 'B_41', 'B_42', 'D_130', 'D_131', 'D_132', 'D_133', 'R_28', 'D_134', 'D_135', 'D_136', 'D_137', 'D_138', 'D_139', 'D_140', 'D_141', 'D_142', 'D_143', 'D_144', 'D_145', 'one_hot_B_30_-1', 'one_hot_B_30_0', 'one_hot_B_30_1', 'one_hot_B_30_2', 'one_hot_B_38_-1', 'one_hot_B_38_1', 'one_hot_B_38_2', 'one_hot_B_38_3', 'one_hot_B_38_4', 'one_hot_B_38_5', 'one_hot_B_38_6', 'one_hot_B_38_7', 'one_hot_D_114_-1', 'one_hot_D_114_0', 'one_hot_D_114_1', 'one_hot_D_116_-1', 'one_hot_D_116_0', 'one_hot_D_116_1', 'one_hot_D_117_-1', 'one_hot_D_117_1', 'one_hot_D_117_2', 'one_hot_D_117_3', 'one_hot_D_117_4', 'one_hot_D_117_5', 'one_hot_D_117_6', 'one_hot_D_120_-1', 'one_hot_D_120_0', 'one_hot_D_120_1', 'one_hot_D_126_-1', 'one_hot_D_126_0', 'one_hot_D_126_1', 'one_hot_D_63_0', 'one_hot_D_63_1', 'one_hot_D_63_2', 'one_hot_D_63_3', 'one_hot_D_63_4', 'one_hot_D_63_5', 'one_hot_D_64_-1', 'one_hot_D_64_0', 'one_hot_D_64_1', 'one_hot_D_64_2', 'one_hot_D_64_3', 'one_hot_D_66_-1', 'one_hot_D_66_0', 'one_hot_D_66_1', 'one_hot_D_68_-1', 'one_hot_D_68_0', 'one_hot_D_68_1', 'one_hot_D_68_2', 'one_hot_D_68_3', 'one_hot_D_68_4', 'one_hot_D_68_5', 'one_hot_D_68_6'], 'label': ['target'], 'id': ['customer_ID'], 'remark': 'lgb_with_numerical_feature', 'lgb_hyper_params': {'objective': 'binary', 'metric': 'binary_logloss', 'boosting': 'goss', 'max_depth': -1, 'num_leaves': 64, 'learning_rate': 0.035, 'feature_fraction': 0.7, 'min_data_in_leaf': 256, 'max_bin': 63, 'min_data_in_bin': 256, 'tree_learner': 'serial', 'boost_from_average': 'false', 'lambda_l1': 0.1, 'lambda_l2': 30, 'num_threads': 6, 'verbosity': 1}}

================================Model Config End================================

[LightGBM] [Info] Number of positive: 1102295, number of negative: 3322865
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.842580 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5698
[LightGBM] [Info] Number of data points in the train set: 4425160, number of used features: 230
[LightGBM] [Info] Using GOSS
Training until validation scores don't improve for 100 rounds
[50]	training's binary_logloss: 0.329588	valid_1's binary_logloss: 0.330687
[100]	training's binary_logloss: 0.283321	valid_1's binary_logloss: 0.284898
[150]	training's binary_logloss: 0.272512	valid_1's binary_logloss: 0.274322
[200]	training's binary_logloss: 0.267818	valid_1's binary_logloss: 0.269867
[250]	training's binary_logloss: 0.264848	valid_1's binary_logloss: 0.267093
[300]	training's binary_logloss: 0.26269	valid_1's binary_logloss: 0.265113
[350]	training's binary_logloss: 0.260996	valid_1's binary_logloss: 0.263615
[400]	training's binary_logloss: 0.259581	valid_1's binary_logloss: 0.262388
[450]	training's binary_logloss: 0.258337	valid_1's binary_logloss: 0.261315
[500]	training's binary_logloss: 0.257214	valid_1's binary_logloss: 0.260374
[550]	training's binary_logloss: 0.256186	valid_1's binary_logloss: 0.259507
[600]	training's binary_logloss: 0.255257	valid_1's binary_logloss: 0.258771
[650]	training's binary_logloss: 0.254363	valid_1's binary_logloss: 0.258058
[700]	training's binary_logloss: 0.253518	valid_1's binary_logloss: 0.257379
[750]	training's binary_logloss: 0.252714	valid_1's binary_logloss: 0.256764
[800]	training's binary_logloss: 0.251981	valid_1's binary_logloss: 0.256205
[850]	training's binary_logloss: 0.25124	valid_1's binary_logloss: 0.255641
[900]	training's binary_logloss: 0.250502	valid_1's binary_logloss: 0.255072
[950]	training's binary_logloss: 0.24985	valid_1's binary_logloss: 0.254596
[1000]	training's binary_logloss: 0.249154	valid_1's binary_logloss: 0.254077
[1050]	training's binary_logloss: 0.248458	valid_1's binary_logloss: 0.253551
[1100]	training's binary_logloss: 0.247818	valid_1's binary_logloss: 0.253067
[1150]	training's binary_logloss: 0.247191	valid_1's binary_logloss: 0.252598
[1200]	training's binary_logloss: 0.246526	valid_1's binary_logloss: 0.252104
[1250]	training's binary_logloss: 0.245929	valid_1's binary_logloss: 0.251663
[1300]	training's binary_logloss: 0.245335	valid_1's binary_logloss: 0.25122
[1350]	training's binary_logloss: 0.244733	valid_1's binary_logloss: 0.250765
[1400]	training's binary_logloss: 0.244106	valid_1's binary_logloss: 0.250296
[1450]	training's binary_logloss: 0.243508	valid_1's binary_logloss: 0.249847
[1500]	training's binary_logloss: 0.242908	valid_1's binary_logloss: 0.249407
[1550]	training's binary_logloss: 0.242366	valid_1's binary_logloss: 0.249017
[1600]	training's binary_logloss: 0.241802	valid_1's binary_logloss: 0.248602
[1650]	training's binary_logloss: 0.241264	valid_1's binary_logloss: 0.248213
[1700]	training's binary_logloss: 0.240694	valid_1's binary_logloss: 0.24779
[1750]	training's binary_logloss: 0.240158	valid_1's binary_logloss: 0.247401
[1800]	training's binary_logloss: 0.239622	valid_1's binary_logloss: 0.247013
[1850]	training's binary_logloss: 0.239113	valid_1's binary_logloss: 0.246655
[1900]	training's binary_logloss: 0.238577	valid_1's binary_logloss: 0.246271
[1950]	training's binary_logloss: 0.238053	valid_1's binary_logloss: 0.245888
[2000]	training's binary_logloss: 0.237539	valid_1's binary_logloss: 0.245524
[2050]	training's binary_logloss: 0.237035	valid_1's binary_logloss: 0.245158
[2100]	training's binary_logloss: 0.23653	valid_1's binary_logloss: 0.244796
[2150]	training's binary_logloss: 0.236023	valid_1's binary_logloss: 0.244433
[2200]	training's binary_logloss: 0.23553	valid_1's binary_logloss: 0.244083
[2250]	training's binary_logloss: 0.235001	valid_1's binary_logloss: 0.243694
[2300]	training's binary_logloss: 0.234512	valid_1's binary_logloss: 0.24335
[2350]	training's binary_logloss: 0.233991	valid_1's binary_logloss: 0.242965
[2400]	training's binary_logloss: 0.233498	valid_1's binary_logloss: 0.242624
[2450]	training's binary_logloss: 0.232988	valid_1's binary_logloss: 0.24225
[2500]	training's binary_logloss: 0.232451	valid_1's binary_logloss: 0.241862
[2550]	training's binary_logloss: 0.23198	valid_1's binary_logloss: 0.24152
[2600]	training's binary_logloss: 0.23151	valid_1's binary_logloss: 0.241183
[2650]	training's binary_logloss: 0.231045	valid_1's binary_logloss: 0.240857
[2700]	training's binary_logloss: 0.230576	valid_1's binary_logloss: 0.240526
[2750]	training's binary_logloss: 0.23011	valid_1's binary_logloss: 0.240184
[2800]	training's binary_logloss: 0.229627	valid_1's binary_logloss: 0.23984
[2850]	training's binary_logloss: 0.229148	valid_1's binary_logloss: 0.239499
[2900]	training's binary_logloss: 0.228665	valid_1's binary_logloss: 0.239155

[2950]	training's binary_logloss: 0.228188	valid_1's binary_logloss: 0.238814
[3000]	training's binary_logloss: 0.227712	valid_1's binary_logloss: 0.238474
[3050]	training's binary_logloss: 0.227247	valid_1's binary_logloss: 0.238138
[3100]	training's binary_logloss: 0.226773	valid_1's binary_logloss: 0.237791
[3150]	training's binary_logloss: 0.226313	valid_1's binary_logloss: 0.23747
[3200]	training's binary_logloss: 0.225871	valid_1's binary_logloss: 0.237164
[3250]	training's binary_logloss: 0.225434	valid_1's binary_logloss: 0.236865
[3300]	training's binary_logloss: 0.225002	valid_1's binary_logloss: 0.236568
[3350]	training's binary_logloss: 0.224566	valid_1's binary_logloss: 0.236254
[3400]	training's binary_logloss: 0.224117	valid_1's binary_logloss: 0.235937
[3450]	training's binary_logloss: 0.223657	valid_1's binary_logloss: 0.235607
[3500]	training's binary_logloss: 0.223232	valid_1's binary_logloss: 0.235311
[3550]	training's binary_logloss: 0.222784	valid_1's binary_logloss: 0.23499
[3600]	training's binary_logloss: 0.222382	valid_1's binary_logloss: 0.234717
[3650]	training's binary_logloss: 0.221946	valid_1's binary_logloss: 0.234407
[3700]	training's binary_logloss: 0.22151	valid_1's binary_logloss: 0.234089
[3750]	training's binary_logloss: 0.22108	valid_1's binary_logloss: 0.233784
[3800]	training's binary_logloss: 0.220693	valid_1's binary_logloss: 0.233514
[3850]	training's binary_logloss: 0.220269	valid_1's binary_logloss: 0.233203
[3900]	training's binary_logloss: 0.219834	valid_1's binary_logloss: 0.232886
[3950]	training's binary_logloss: 0.219385	valid_1's binary_logloss: 0.232567
[4000]	training's binary_logloss: 0.218978	valid_1's binary_logloss: 0.23228
[4050]	training's binary_logloss: 0.21855	valid_1's binary_logloss: 0.231969
[4100]	training's binary_logloss: 0.218132	valid_1's binary_logloss: 0.231671
[4150]	training's binary_logloss: 0.217723	valid_1's binary_logloss: 0.23138
[4200]	training's binary_logloss: 0.217307	valid_1's binary_logloss: 0.231085
[4250]	training's binary_logloss: 0.216883	valid_1's binary_logloss: 0.230783
[4300]	training's binary_logloss: 0.216451	valid_1's binary_logloss: 0.230472
[4350]	training's binary_logloss: 0.216037	valid_1's binary_logloss: 0.230169
[4400]	training's binary_logloss: 0.21564	valid_1's binary_logloss: 0.229885
[4450]	training's binary_logloss: 0.215206	valid_1's binary_logloss: 0.229565
[4500]	training's binary_logloss: 0.214802	valid_1's binary_logloss: 0.229279
Did not meet early stopping. Best iteration is:
[4500]	training's binary_logloss: 0.214802	valid_1's binary_logloss: 0.229279
================================Fold 0 start================================

 - 0 round - train_metric: 0.672494 - valid_metric: 0.672521

 - 50 round - train_metric: 0.327691 - valid_metric: 0.328801

 - 100 round - train_metric: 0.282966 - valid_metric: 0.284549

 - 150 round - train_metric: 0.272382 - valid_metric: 0.274196

 - 200 round - train_metric: 0.267744 - valid_metric: 0.269797

 - 250 round - train_metric: 0.264796 - valid_metric: 0.267044

 - 300 round - train_metric: 0.262656 - valid_metric: 0.265083

 - 350 round - train_metric: 0.260963 - valid_metric: 0.263586

 - 400 round - train_metric: 0.259559 - valid_metric: 0.262369

 - 450 round - train_metric: 0.258310 - valid_metric: 0.261292

 - 500 round - train_metric: 0.257195 - valid_metric: 0.260358

 - 550 round - train_metric: 0.256168 - valid_metric: 0.259493

 - 600 round - train_metric: 0.255240 - valid_metric: 0.258758

 - 650 round - train_metric: 0.254345 - valid_metric: 0.258044

 - 700 round - train_metric: 0.253502 - valid_metric: 0.257367

 - 750 round - train_metric: 0.252705 - valid_metric: 0.256759

 - 800 round - train_metric: 0.251970 - valid_metric: 0.256198

 - 850 round - train_metric: 0.251225 - valid_metric: 0.255629

 - 900 round - train_metric: 0.250484 - valid_metric: 0.255058

 - 950 round - train_metric: 0.249838 - valid_metric: 0.254587

 - 1000 round - train_metric: 0.249139 - valid_metric: 0.254067

 - 1050 round - train_metric: 0.248444 - valid_metric: 0.253540

 - 1100 round - train_metric: 0.247803 - valid_metric: 0.253057

 - 1150 round - train_metric: 0.247178 - valid_metric: 0.252591

 - 1200 round - train_metric: 0.246509 - valid_metric: 0.252089

 - 1250 round - train_metric: 0.245915 - valid_metric: 0.251653

 - 1300 round - train_metric: 0.245326 - valid_metric: 0.251214

 - 1350 round - train_metric: 0.244718 - valid_metric: 0.250754

 - 1400 round - train_metric: 0.244093 - valid_metric: 0.250287

 - 1450 round - train_metric: 0.243496 - valid_metric: 0.249838

 - 1500 round - train_metric: 0.242900 - valid_metric: 0.249401

 - 1550 round - train_metric: 0.242349 - valid_metric: 0.249003

 - 1600 round - train_metric: 0.241793 - valid_metric: 0.248596

 - 1650 round - train_metric: 0.241252 - valid_metric: 0.248203

 - 1700 round - train_metric: 0.240680 - valid_metric: 0.247781

 - 1750 round - train_metric: 0.240148 - valid_metric: 0.247392

 - 1800 round - train_metric: 0.239613 - valid_metric: 0.247006

 - 1850 round - train_metric: 0.239102 - valid_metric: 0.246645

 - 1900 round - train_metric: 0.238566 - valid_metric: 0.246262

 - 1950 round - train_metric: 0.238039 - valid_metric: 0.245878

 - 2000 round - train_metric: 0.237525 - valid_metric: 0.245513

 - 2050 round - train_metric: 0.237027 - valid_metric: 0.245154

 - 2100 round - train_metric: 0.236522 - valid_metric: 0.244792

 - 2150 round - train_metric: 0.236013 - valid_metric: 0.244426

 - 2200 round - train_metric: 0.235515 - valid_metric: 0.244071

 - 2250 round - train_metric: 0.234990 - valid_metric: 0.243687

 - 2300 round - train_metric: 0.234507 - valid_metric: 0.243347

 - 2350 round - train_metric: 0.233981 - valid_metric: 0.242958

 - 2400 round - train_metric: 0.233487 - valid_metric: 0.242616

 - 2450 round - train_metric: 0.232980 - valid_metric: 0.242245

 - 2500 round - train_metric: 0.232438 - valid_metric: 0.241851

 - 2550 round - train_metric: 0.231970 - valid_metric: 0.241512

 - 2600 round - train_metric: 0.231499 - valid_metric: 0.241174

 - 2650 round - train_metric: 0.231038 - valid_metric: 0.240851

 - 2700 round - train_metric: 0.230571 - valid_metric: 0.240523

 - 2750 round - train_metric: 0.230102 - valid_metric: 0.240178

 - 2800 round - train_metric: 0.229610 - valid_metric: 0.239827

 - 2850 round - train_metric: 0.229137 - valid_metric: 0.239491

 - 2900 round - train_metric: 0.228647 - valid_metric: 0.239139

 - 2950 round - train_metric: 0.228178 - valid_metric: 0.238806

 - 3000 round - train_metric: 0.227705 - valid_metric: 0.238469

 - 3050 round - train_metric: 0.227242 - valid_metric: 0.238135

 - 3100 round - train_metric: 0.226767 - valid_metric: 0.237787

 - 3150 round - train_metric: 0.226309 - valid_metric: 0.237468

 - 3200 round - train_metric: 0.225860 - valid_metric: 0.237156

 - 3250 round - train_metric: 0.225427 - valid_metric: 0.236859

 - 3300 round - train_metric: 0.224992 - valid_metric: 0.236560

 - 3350 round - train_metric: 0.224555 - valid_metric: 0.236246

 - 3400 round - train_metric: 0.224106 - valid_metric: 0.235929

 - 3450 round - train_metric: 0.223646 - valid_metric: 0.235597

 - 3500 round - train_metric: 0.223225 - valid_metric: 0.235307

 - 3550 round - train_metric: 0.222778 - valid_metric: 0.234986

 - 3600 round - train_metric: 0.222374 - valid_metric: 0.234711

 - 3650 round - train_metric: 0.221935 - valid_metric: 0.234399

 - 3700 round - train_metric: 0.221503 - valid_metric: 0.234085

 - 3750 round - train_metric: 0.221074 - valid_metric: 0.233780

 - 3800 round - train_metric: 0.220683 - valid_metric: 0.233506

 - 3850 round - train_metric: 0.220260 - valid_metric: 0.233195

 - 3900 round - train_metric: 0.219824 - valid_metric: 0.232878

 - 3950 round - train_metric: 0.219372 - valid_metric: 0.232556

 - 4000 round - train_metric: 0.218970 - valid_metric: 0.232274

 - 4050 round - train_metric: 0.218543 - valid_metric: 0.231963

 - 4100 round - train_metric: 0.218126 - valid_metric: 0.231668

 - 4150 round - train_metric: 0.217717 - valid_metric: 0.231375

 - 4200 round - train_metric: 0.217293 - valid_metric: 0.231073

 - 4250 round - train_metric: 0.216875 - valid_metric: 0.230778

 - 4300 round - train_metric: 0.216447 - valid_metric: 0.230471

 - 4350 round - train_metric: 0.216029 - valid_metric: 0.230163

 - 4400 round - train_metric: 0.215633 - valid_metric: 0.229879

 - 4450 round - train_metric: 0.215193 - valid_metric: 0.229555

- 0 amex metric: 0.768511

================================Fold 0 End================================

[LightGBM] [Info] Number of positive: 1102296, number of negative: 3322865
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.959383 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5664
[LightGBM] [Info] Number of data points in the train set: 4425161, number of used features: 230
[LightGBM] [Info] Using GOSS
Training until validation scores don't improve for 100 rounds
[50]	training's binary_logloss: 0.329988	valid_1's binary_logloss: 0.329545
[100]	training's binary_logloss: 0.28371	valid_1's binary_logloss: 0.283395
[150]	training's binary_logloss: 0.272908	valid_1's binary_logloss: 0.272855
[200]	training's binary_logloss: 0.268198	valid_1's binary_logloss: 0.268384
[250]	training's binary_logloss: 0.265238	valid_1's binary_logloss: 0.26564
[300]	training's binary_logloss: 0.263076	valid_1's binary_logloss: 0.263687
[350]	training's binary_logloss: 0.261368	valid_1's binary_logloss: 0.262173
[400]	training's binary_logloss: 0.259943	valid_1's binary_logloss: 0.260944
[450]	training's binary_logloss: 0.258691	valid_1's binary_logloss: 0.259915
[500]	training's binary_logloss: 0.257586	valid_1's binary_logloss: 0.259019
[550]	training's binary_logloss: 0.256579	valid_1's binary_logloss: 0.258212
[600]	training's binary_logloss: 0.255625	valid_1's binary_logloss: 0.257451
[650]	training's binary_logloss: 0.254749	valid_1's binary_logloss: 0.256769
[700]	training's binary_logloss: 0.253946	valid_1's binary_logloss: 0.256142
[750]	training's binary_logloss: 0.253175	valid_1's binary_logloss: 0.25555
[800]	training's binary_logloss: 0.252419	valid_1's binary_logloss: 0.254974
[850]	training's binary_logloss: 0.251704	valid_1's binary_logloss: 0.254437
[900]	training's binary_logloss: 0.25099	valid_1's binary_logloss: 0.253894
[950]	training's binary_logloss: 0.25032	valid_1's binary_logloss: 0.253392
[1000]	training's binary_logloss: 0.249638	valid_1's binary_logloss: 0.252884
[1050]	training's binary_logloss: 0.248966	valid_1's binary_logloss: 0.252385
[1100]	training's binary_logloss: 0.248326	valid_1's binary_logloss: 0.251923
[1150]	training's binary_logloss: 0.247682	valid_1's binary_logloss: 0.251441
[1200]	training's binary_logloss: 0.247042	valid_1's binary_logloss: 0.250974
[1250]	training's binary_logloss: 0.246432	valid_1's binary_logloss: 0.250529
[1300]	training's binary_logloss: 0.245795	valid_1's binary_logloss: 0.250054
[1350]	training's binary_logloss: 0.245164	valid_1's binary_logloss: 0.249587
[1400]	training's binary_logloss: 0.24459	valid_1's binary_logloss: 0.249174
[1450]	training's binary_logloss: 0.243993	valid_1's binary_logloss: 0.248745
[1500]	training's binary_logloss: 0.243438	valid_1's binary_logloss: 0.248343
[1550]	training's binary_logloss: 0.242854	valid_1's binary_logloss: 0.247922
[1600]	training's binary_logloss: 0.242281	valid_1's binary_logloss: 0.247508
[1650]	training's binary_logloss: 0.241711	valid_1's binary_logloss: 0.247102
[1700]	training's binary_logloss: 0.241149	valid_1's binary_logloss: 0.246709
[1750]	training's binary_logloss: 0.240639	valid_1's binary_logloss: 0.246365
[1800]	training's binary_logloss: 0.240067	valid_1's binary_logloss: 0.245948
[1850]	training's binary_logloss: 0.239509	valid_1's binary_logloss: 0.24555
[1900]	training's binary_logloss: 0.238962	valid_1's binary_logloss: 0.24516
[1950]	training's binary_logloss: 0.238405	valid_1's binary_logloss: 0.244757
[2000]	training's binary_logloss: 0.237917	valid_1's binary_logloss: 0.244413
[2050]	training's binary_logloss: 0.237353	valid_1's binary_logloss: 0.244006
[2100]	training's binary_logloss: 0.236817	valid_1's binary_logloss: 0.243612
[2150]	training's binary_logloss: 0.236336	valid_1's binary_logloss: 0.243279
[2200]	training's binary_logloss: 0.235836	valid_1's binary_logloss: 0.242936
[2250]	training's binary_logloss: 0.235329	valid_1's binary_logloss: 0.242573
[2300]	training's binary_logloss: 0.234829	valid_1's binary_logloss: 0.242222
[2350]	training's binary_logloss: 0.234332	valid_1's binary_logloss: 0.24187
[2400]	training's binary_logloss: 0.233829	valid_1's binary_logloss: 0.241509
[2450]	training's binary_logloss: 0.233341	valid_1's binary_logloss: 0.241171
[2500]	training's binary_logloss: 0.23287	valid_1's binary_logloss: 0.240841
[2550]	training's binary_logloss: 0.232385	valid_1's binary_logloss: 0.240496
[2600]	training's binary_logloss: 0.231884	valid_1's binary_logloss: 0.240135
[2650]	training's binary_logloss: 0.231411	valid_1's binary_logloss: 0.239804
[2700]	training's binary_logloss: 0.230946	valid_1's binary_logloss: 0.239481
[2750]	training's binary_logloss: 0.230464	valid_1's binary_logloss: 0.239143
[2800]	training's binary_logloss: 0.230001	valid_1's binary_logloss: 0.238809
[2850]	training's binary_logloss: 0.229519	valid_1's binary_logloss: 0.238468
[2900]	training's binary_logloss: 0.22907	valid_1's binary_logloss: 0.238166
[2950]	training's binary_logloss: 0.228632	valid_1's binary_logloss: 0.237858
[3000]	training's binary_logloss: 0.228169	valid_1's binary_logloss: 0.237536
[3050]	training's binary_logloss: 0.227698	valid_1's binary_logloss: 0.237205
[3100]	training's binary_logloss: 0.227224	valid_1's binary_logloss: 0.236861
[3150]	training's binary_logloss: 0.22675	valid_1's binary_logloss: 0.236513
[3200]	training's binary_logloss: 0.226297	valid_1's binary_logloss: 0.236201
[3250]	training's binary_logloss: 0.225839	valid_1's binary_logloss: 0.235882
[3300]	training's binary_logloss: 0.225414	valid_1's binary_logloss: 0.235596
[3350]	training's binary_logloss: 0.224968	valid_1's binary_logloss: 0.235282
[3400]	training's binary_logloss: 0.224497	valid_1's binary_logloss: 0.23495
[3450]	training's binary_logloss: 0.224034	valid_1's binary_logloss: 0.234627
[3500]	training's binary_logloss: 0.223558	valid_1's binary_logloss: 0.234284
[3550]	training's binary_logloss: 0.223111	valid_1's binary_logloss: 0.233964
[3600]	training's binary_logloss: 0.222672	valid_1's binary_logloss: 0.233653
[3650]	training's binary_logloss: 0.222231	valid_1's binary_logloss: 0.233339
[3700]	training's binary_logloss: 0.221794	valid_1's binary_logloss: 0.233029
[3750]	training's binary_logloss: 0.221378	valid_1's binary_logloss: 0.232738
[3800]	training's binary_logloss: 0.220965	valid_1's binary_logloss: 0.232452
[3850]	training's binary_logloss: 0.2205	valid_1's binary_logloss: 0.232114
[3900]	training's binary_logloss: 0.220071	valid_1's binary_logloss: 0.231815
[3950]	training's binary_logloss: 0.21964	valid_1's binary_logloss: 0.23151
[4000]	training's binary_logloss: 0.219238	valid_1's binary_logloss: 0.231234
[4050]	training's binary_logloss: 0.218808	valid_1's binary_logloss: 0.230932
[4100]	training's binary_logloss: 0.218385	valid_1's binary_logloss: 0.230641
[4150]	training's binary_logloss: 0.21798	valid_1's binary_logloss: 0.230355
[4200]	training's binary_logloss: 0.217557	valid_1's binary_logloss: 0.230056
[4250]	training's binary_logloss: 0.217135	valid_1's binary_logloss: 0.229752
[4300]	training's binary_logloss: 0.216728	valid_1's binary_logloss: 0.22946
[4350]	training's binary_logloss: 0.216335	valid_1's binary_logloss: 0.229187
[4400]	training's binary_logloss: 0.215936	valid_1's binary_logloss: 0.228917
[4450]	training's binary_logloss: 0.215521	valid_1's binary_logloss: 0.228629
[4500]	training's binary_logloss: 0.215123	valid_1's binary_logloss: 0.228349
Did not meet early stopping. Best iteration is:
[4500]	training's binary_logloss: 0.215123	valid_1's binary_logloss: 0.228349
================================Fold 1 start================================

 - 0 round - train_metric: 0.672519 - valid_metric: 0.672489

 - 50 round - train_metric: 0.328076 - valid_metric: 0.327632

 - 100 round - train_metric: 0.283343 - valid_metric: 0.283029

 - 150 round - train_metric: 0.272765 - valid_metric: 0.272717

 - 200 round - train_metric: 0.268120 - valid_metric: 0.268315

 - 250 round - train_metric: 0.265186 - valid_metric: 0.265593

 - 300 round - train_metric: 0.263034 - valid_metric: 0.263647

 - 350 round - train_metric: 0.261336 - valid_metric: 0.262147

 - 400 round - train_metric: 0.259918 - valid_metric: 0.260922

 - 450 round - train_metric: 0.258665 - valid_metric: 0.259894

 - 500 round - train_metric: 0.257565 - valid_metric: 0.259003

 - 550 round - train_metric: 0.256564 - valid_metric: 0.258200

 - 600 round - train_metric: 0.255608 - valid_metric: 0.257438

 - 650 round - train_metric: 0.254734 - valid_metric: 0.256757

 - 700 round - train_metric: 0.253934 - valid_metric: 0.256133

 - 750 round - train_metric: 0.253161 - valid_metric: 0.255538

 - 800 round - train_metric: 0.252403 - valid_metric: 0.254962

 - 850 round - train_metric: 0.251693 - valid_metric: 0.254429

 - 900 round - train_metric: 0.250978 - valid_metric: 0.253884

 - 950 round - train_metric: 0.250306 - valid_metric: 0.253383

 - 1000 round - train_metric: 0.249629 - valid_metric: 0.252879

 - 1050 round - train_metric: 0.248952 - valid_metric: 0.252377

 - 1100 round - train_metric: 0.248308 - valid_metric: 0.251908

 - 1150 round - train_metric: 0.247672 - valid_metric: 0.251434

 - 1200 round - train_metric: 0.247030 - valid_metric: 0.250964

 - 1250 round - train_metric: 0.246418 - valid_metric: 0.250519

 - 1300 round - train_metric: 0.245784 - valid_metric: 0.250046

 - 1350 round - train_metric: 0.245156 - valid_metric: 0.249584

 - 1400 round - train_metric: 0.244582 - valid_metric: 0.249169

 - 1450 round - train_metric: 0.243979 - valid_metric: 0.248733

 - 1500 round - train_metric: 0.243427 - valid_metric: 0.248335

 - 1550 round - train_metric: 0.242842 - valid_metric: 0.247914

 - 1600 round - train_metric: 0.242263 - valid_metric: 0.247494

 - 1650 round - train_metric: 0.241699 - valid_metric: 0.247095

 - 1700 round - train_metric: 0.241141 - valid_metric: 0.246706

 - 1750 round - train_metric: 0.240625 - valid_metric: 0.246354

 - 1800 round - train_metric: 0.240056 - valid_metric: 0.245939

 - 1850 round - train_metric: 0.239503 - valid_metric: 0.245546

 - 1900 round - train_metric: 0.238955 - valid_metric: 0.245155

 - 1950 round - train_metric: 0.238397 - valid_metric: 0.244751

 - 2000 round - train_metric: 0.237909 - valid_metric: 0.244408

 - 2050 round - train_metric: 0.237343 - valid_metric: 0.243998

 - 2100 round - train_metric: 0.236808 - valid_metric: 0.243606

 - 2150 round - train_metric: 0.236324 - valid_metric: 0.243271

 - 2200 round - train_metric: 0.235824 - valid_metric: 0.242928

 - 2250 round - train_metric: 0.235318 - valid_metric: 0.242565

 - 2300 round - train_metric: 0.234822 - valid_metric: 0.242216

 - 2350 round - train_metric: 0.234320 - valid_metric: 0.241862

 - 2400 round - train_metric: 0.233819 - valid_metric: 0.241503

 - 2450 round - train_metric: 0.233333 - valid_metric: 0.241165

 - 2500 round - train_metric: 0.232857 - valid_metric: 0.240831

 - 2550 round - train_metric: 0.232372 - valid_metric: 0.240486

 - 2600 round - train_metric: 0.231874 - valid_metric: 0.240130

 - 2650 round - train_metric: 0.231405 - valid_metric: 0.239800

 - 2700 round - train_metric: 0.230940 - valid_metric: 0.239477

 - 2750 round - train_metric: 0.230455 - valid_metric: 0.239136

 - 2800 round - train_metric: 0.229992 - valid_metric: 0.238802

 - 2850 round - train_metric: 0.229510 - valid_metric: 0.238463

 - 2900 round - train_metric: 0.229058 - valid_metric: 0.238157

 - 2950 round - train_metric: 0.228619 - valid_metric: 0.237848

 - 3000 round - train_metric: 0.228163 - valid_metric: 0.237532

 - 3050 round - train_metric: 0.227688 - valid_metric: 0.237199

 - 3100 round - train_metric: 0.227217 - valid_metric: 0.236857

 - 3150 round - train_metric: 0.226743 - valid_metric: 0.236509

 - 3200 round - train_metric: 0.226286 - valid_metric: 0.236194

 - 3250 round - train_metric: 0.225830 - valid_metric: 0.235875

 - 3300 round - train_metric: 0.225408 - valid_metric: 0.235593

 - 3350 round - train_metric: 0.224956 - valid_metric: 0.235273

 - 3400 round - train_metric: 0.224487 - valid_metric: 0.234942

 - 3450 round - train_metric: 0.224028 - valid_metric: 0.234622

 - 3500 round - train_metric: 0.223547 - valid_metric: 0.234275

 - 3550 round - train_metric: 0.223103 - valid_metric: 0.233958

 - 3600 round - train_metric: 0.222660 - valid_metric: 0.233644

 - 3650 round - train_metric: 0.222220 - valid_metric: 0.233329

 - 3700 round - train_metric: 0.221788 - valid_metric: 0.233026

 - 3750 round - train_metric: 0.221366 - valid_metric: 0.232728

 - 3800 round - train_metric: 0.220959 - valid_metric: 0.232449

 - 3850 round - train_metric: 0.220494 - valid_metric: 0.232111

 - 3900 round - train_metric: 0.220059 - valid_metric: 0.231804

 - 3950 round - train_metric: 0.219634 - valid_metric: 0.231507

 - 4000 round - train_metric: 0.219231 - valid_metric: 0.231229

 - 4050 round - train_metric: 0.218800 - valid_metric: 0.230926

 - 4100 round - train_metric: 0.218375 - valid_metric: 0.230632

 - 4150 round - train_metric: 0.217972 - valid_metric: 0.230349

 - 4200 round - train_metric: 0.217549 - valid_metric: 0.230050

 - 4250 round - train_metric: 0.217128 - valid_metric: 0.229747

 - 4300 round - train_metric: 0.216722 - valid_metric: 0.229456

 - 4350 round - train_metric: 0.216330 - valid_metric: 0.229185

 - 4400 round - train_metric: 0.215927 - valid_metric: 0.228912

 - 4450 round - train_metric: 0.215513 - valid_metric: 0.228624

- 1 amex metric: 0.770178

================================Fold 1 End================================

[LightGBM] [Info] Number of positive: 1102295, number of negative: 3322866
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.958669 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5666
[LightGBM] [Info] Number of data points in the train set: 4425161, number of used features: 230
[LightGBM] [Info] Using GOSS
Training until validation scores don't improve for 100 rounds
[50]	training's binary_logloss: 0.329703	valid_1's binary_logloss: 0.330096
[100]	training's binary_logloss: 0.283479	valid_1's binary_logloss: 0.28421
[150]	training's binary_logloss: 0.272712	valid_1's binary_logloss: 0.273694
[200]	training's binary_logloss: 0.267908	valid_1's binary_logloss: 0.269171
[250]	training's binary_logloss: 0.264974	valid_1's binary_logloss: 0.266498
[300]	training's binary_logloss: 0.262802	valid_1's binary_logloss: 0.264551
[350]	training's binary_logloss: 0.26108	valid_1's binary_logloss: 0.263042
[400]	training's binary_logloss: 0.25965	valid_1's binary_logloss: 0.26182
[450]	training's binary_logloss: 0.25837	valid_1's binary_logloss: 0.26076
[500]	training's binary_logloss: 0.257281	valid_1's binary_logloss: 0.259875
[550]	training's binary_logloss: 0.256278	valid_1's binary_logloss: 0.259066
[600]	training's binary_logloss: 0.255333	valid_1's binary_logloss: 0.258322
[650]	training's binary_logloss: 0.254418	valid_1's binary_logloss: 0.257601
[700]	training's binary_logloss: 0.253627	valid_1's binary_logloss: 0.257001
[750]	training's binary_logloss: 0.252836	valid_1's binary_logloss: 0.256398
[800]	training's binary_logloss: 0.252095	valid_1's binary_logloss: 0.255838
[850]	training's binary_logloss: 0.251393	valid_1's binary_logloss: 0.255319
[900]	training's binary_logloss: 0.250684	valid_1's binary_logloss: 0.254791
[950]	training's binary_logloss: 0.249977	valid_1's binary_logloss: 0.254258
[1000]	training's binary_logloss: 0.249245	valid_1's binary_logloss: 0.253716
[1050]	training's binary_logloss: 0.248547	valid_1's binary_logloss: 0.253195
[1100]	training's binary_logloss: 0.247901	valid_1's binary_logloss: 0.252722
[1150]	training's binary_logloss: 0.247283	valid_1's binary_logloss: 0.252261
[1200]	training's binary_logloss: 0.246658	valid_1's binary_logloss: 0.251813
[1250]	training's binary_logloss: 0.246037	valid_1's binary_logloss: 0.251359
[1300]	training's binary_logloss: 0.245421	valid_1's binary_logloss: 0.250917
[1350]	training's binary_logloss: 0.244798	valid_1's binary_logloss: 0.250469
[1400]	training's binary_logloss: 0.244242	valid_1's binary_logloss: 0.250072
[1450]	training's binary_logloss: 0.24365	valid_1's binary_logloss: 0.249644
[1500]	training's binary_logloss: 0.243066	valid_1's binary_logloss: 0.24921
[1550]	training's binary_logloss: 0.242499	valid_1's binary_logloss: 0.248803
[1600]	training's binary_logloss: 0.241931	valid_1's binary_logloss: 0.248393
[1650]	training's binary_logloss: 0.241385	valid_1's binary_logloss: 0.247995
[1700]	training's binary_logloss: 0.240821	valid_1's binary_logloss: 0.247589
[1750]	training's binary_logloss: 0.240322	valid_1's binary_logloss: 0.247246
[1800]	training's binary_logloss: 0.239749	valid_1's binary_logloss: 0.246828
[1850]	training's binary_logloss: 0.23919	valid_1's binary_logloss: 0.246435
[1900]	training's binary_logloss: 0.238648	valid_1's binary_logloss: 0.246042
[1950]	training's binary_logloss: 0.238106	valid_1's binary_logloss: 0.245639
[2000]	training's binary_logloss: 0.23758	valid_1's binary_logloss: 0.245268
[2050]	training's binary_logloss: 0.237005	valid_1's binary_logloss: 0.244845
[2100]	training's binary_logloss: 0.236484	valid_1's binary_logloss: 0.244472
[2150]	training's binary_logloss: 0.235955	valid_1's binary_logloss: 0.244089
[2200]	training's binary_logloss: 0.235453	valid_1's binary_logloss: 0.243738
[2250]	training's binary_logloss: 0.234963	valid_1's binary_logloss: 0.243391
[2300]	training's binary_logloss: 0.234452	valid_1's binary_logloss: 0.243017
[2350]	training's binary_logloss: 0.233964	valid_1's binary_logloss: 0.242671
[2400]	training's binary_logloss: 0.233477	valid_1's binary_logloss: 0.242319
[2450]	training's binary_logloss: 0.232978	valid_1's binary_logloss: 0.241957
[2500]	training's binary_logloss: 0.232497	valid_1's binary_logloss: 0.241614
[2550]	training's binary_logloss: 0.232006	valid_1's binary_logloss: 0.241269
[2600]	training's binary_logloss: 0.231528	valid_1's binary_logloss: 0.240922
[2650]	training's binary_logloss: 0.231014	valid_1's binary_logloss: 0.240546
[2700]	training's binary_logloss: 0.230578	valid_1's binary_logloss: 0.240247
[2750]	training's binary_logloss: 0.230112	valid_1's binary_logloss: 0.239905
[2800]	training's binary_logloss: 0.229625	valid_1's binary_logloss: 0.239554
[2850]	training's binary_logloss: 0.229144	valid_1's binary_logloss: 0.239212
[2900]	training's binary_logloss: 0.228672	valid_1's binary_logloss: 0.238886
[2950]	training's binary_logloss: 0.228205	valid_1's binary_logloss: 0.238567
[3000]	training's binary_logloss: 0.227745	valid_1's binary_logloss: 0.238245
[3050]	training's binary_logloss: 0.227261	valid_1's binary_logloss: 0.237892
[3100]	training's binary_logloss: 0.226812	valid_1's binary_logloss: 0.237574
[3150]	training's binary_logloss: 0.226339	valid_1's binary_logloss: 0.237235
[3200]	training's binary_logloss: 0.225882	valid_1's binary_logloss: 0.236911
[3250]	training's binary_logloss: 0.225435	valid_1's binary_logloss: 0.236593
[3300]	training's binary_logloss: 0.224998	valid_1's binary_logloss: 0.236288
[3350]	training's binary_logloss: 0.224526	valid_1's binary_logloss: 0.235952
[3400]	training's binary_logloss: 0.224094	valid_1's binary_logloss: 0.23565
[3450]	training's binary_logloss: 0.22364	valid_1's binary_logloss: 0.235322
[3500]	training's binary_logloss: 0.223199	valid_1's binary_logloss: 0.235019
[3550]	training's binary_logloss: 0.222778	valid_1's binary_logloss: 0.234729
[3600]	training's binary_logloss: 0.22236	valid_1's binary_logloss: 0.234435
[3650]	training's binary_logloss: 0.221917	valid_1's binary_logloss: 0.234114
[3700]	training's binary_logloss: 0.221478	valid_1's binary_logloss: 0.233802
[3750]	training's binary_logloss: 0.22105	valid_1's binary_logloss: 0.233502
[3800]	training's binary_logloss: 0.220626	valid_1's binary_logloss: 0.233202
[3850]	training's binary_logloss: 0.220212	valid_1's binary_logloss: 0.232908
[3900]	training's binary_logloss: 0.219783	valid_1's binary_logloss: 0.232603
[3950]	training's binary_logloss: 0.219354	valid_1's binary_logloss: 0.232308
[4000]	training's binary_logloss: 0.218935	valid_1's binary_logloss: 0.232
[4050]	training's binary_logloss: 0.218535	valid_1's binary_logloss: 0.231725
[4100]	training's binary_logloss: 0.218147	valid_1's binary_logloss: 0.231449
[4150]	training's binary_logloss: 0.217752	valid_1's binary_logloss: 0.231176
[4200]	training's binary_logloss: 0.217362	valid_1's binary_logloss: 0.230905
[4250]	training's binary_logloss: 0.216927	valid_1's binary_logloss: 0.230596
[4300]	training's binary_logloss: 0.216538	valid_1's binary_logloss: 0.230315
[4350]	training's binary_logloss: 0.216123	valid_1's binary_logloss: 0.230022
[4400]	training's binary_logloss: 0.215719	valid_1's binary_logloss: 0.229738
[4450]	training's binary_logloss: 0.215287	valid_1's binary_logloss: 0.22942
[4500]	training's binary_logloss: 0.214898	valid_1's binary_logloss: 0.229146
Did not meet early stopping. Best iteration is:
[4500]	training's binary_logloss: 0.214898	valid_1's binary_logloss: 0.229146
================================Fold 2 start================================

 - 0 round - train_metric: 0.672511 - valid_metric: 0.672530

 - 50 round - train_metric: 0.327799 - valid_metric: 0.328199

 - 100 round - train_metric: 0.283117 - valid_metric: 0.283854

 - 150 round - train_metric: 0.272594 - valid_metric: 0.273583

 - 200 round - train_metric: 0.267842 - valid_metric: 0.269113

 - 250 round - train_metric: 0.264916 - valid_metric: 0.266445

 - 300 round - train_metric: 0.262769 - valid_metric: 0.264521

 - 350 round - train_metric: 0.261052 - valid_metric: 0.263018

 - 400 round - train_metric: 0.259625 - valid_metric: 0.261798

 - 450 round - train_metric: 0.258351 - valid_metric: 0.260746

 - 500 round - train_metric: 0.257254 - valid_metric: 0.259850

 - 550 round - train_metric: 0.256258 - valid_metric: 0.259050

 - 600 round - train_metric: 0.255313 - valid_metric: 0.258306

 - 650 round - train_metric: 0.254403 - valid_metric: 0.257589

 - 700 round - train_metric: 0.253609 - valid_metric: 0.256988

 - 750 round - train_metric: 0.252821 - valid_metric: 0.256386

 - 800 round - train_metric: 0.252082 - valid_metric: 0.255828

 - 850 round - train_metric: 0.251379 - valid_metric: 0.255309

 - 900 round - train_metric: 0.250669 - valid_metric: 0.254778

 - 950 round - train_metric: 0.249958 - valid_metric: 0.254243

 - 1000 round - train_metric: 0.249233 - valid_metric: 0.253708

 - 1050 round - train_metric: 0.248533 - valid_metric: 0.253185

 - 1100 round - train_metric: 0.247888 - valid_metric: 0.252712

 - 1150 round - train_metric: 0.247266 - valid_metric: 0.252247

 - 1200 round - train_metric: 0.246647 - valid_metric: 0.251806

 - 1250 round - train_metric: 0.246029 - valid_metric: 0.251355

 - 1300 round - train_metric: 0.245408 - valid_metric: 0.250908

 - 1350 round - train_metric: 0.244787 - valid_metric: 0.250461

 - 1400 round - train_metric: 0.244230 - valid_metric: 0.250062

 - 1450 round - train_metric: 0.243640 - valid_metric: 0.249638

 - 1500 round - train_metric: 0.243053 - valid_metric: 0.249200

 - 1550 round - train_metric: 0.242488 - valid_metric: 0.248795

 - 1600 round - train_metric: 0.241924 - valid_metric: 0.248391

 - 1650 round - train_metric: 0.241374 - valid_metric: 0.247987

 - 1700 round - train_metric: 0.240814 - valid_metric: 0.247585

 - 1750 round - train_metric: 0.240309 - valid_metric: 0.247236

 - 1800 round - train_metric: 0.239734 - valid_metric: 0.246816

 - 1850 round - train_metric: 0.239180 - valid_metric: 0.246427

 - 1900 round - train_metric: 0.238635 - valid_metric: 0.246032

 - 1950 round - train_metric: 0.238096 - valid_metric: 0.245633

 - 2000 round - train_metric: 0.237572 - valid_metric: 0.245263

 - 2050 round - train_metric: 0.236998 - valid_metric: 0.244842

 - 2100 round - train_metric: 0.236479 - valid_metric: 0.244469

 - 2150 round - train_metric: 0.235942 - valid_metric: 0.244079

 - 2200 round - train_metric: 0.235444 - valid_metric: 0.243732

 - 2250 round - train_metric: 0.234956 - valid_metric: 0.243387

 - 2300 round - train_metric: 0.234444 - valid_metric: 0.243011

 - 2350 round - train_metric: 0.233953 - valid_metric: 0.242664

 - 2400 round - train_metric: 0.233464 - valid_metric: 0.242309

 - 2450 round - train_metric: 0.232967 - valid_metric: 0.241950

 - 2500 round - train_metric: 0.232487 - valid_metric: 0.241607

 - 2550 round - train_metric: 0.231994 - valid_metric: 0.241260

 - 2600 round - train_metric: 0.231517 - valid_metric: 0.240915

 - 2650 round - train_metric: 0.231006 - valid_metric: 0.240541

 - 2700 round - train_metric: 0.230573 - valid_metric: 0.240244

 - 2750 round - train_metric: 0.230105 - valid_metric: 0.239901

 - 2800 round - train_metric: 0.229611 - valid_metric: 0.239543

 - 2850 round - train_metric: 0.229134 - valid_metric: 0.239206

 - 2900 round - train_metric: 0.228663 - valid_metric: 0.238879

 - 2950 round - train_metric: 0.228199 - valid_metric: 0.238562

 - 3000 round - train_metric: 0.227731 - valid_metric: 0.238235

 - 3050 round - train_metric: 0.227256 - valid_metric: 0.237889

 - 3100 round - train_metric: 0.226808 - valid_metric: 0.237573

 - 3150 round - train_metric: 0.226328 - valid_metric: 0.237227

 - 3200 round - train_metric: 0.225874 - valid_metric: 0.236905

 - 3250 round - train_metric: 0.225425 - valid_metric: 0.236585

 - 3300 round - train_metric: 0.224986 - valid_metric: 0.236279

 - 3350 round - train_metric: 0.224518 - valid_metric: 0.235946

 - 3400 round - train_metric: 0.224089 - valid_metric: 0.235647

 - 3450 round - train_metric: 0.223630 - valid_metric: 0.235314

 - 3500 round - train_metric: 0.223192 - valid_metric: 0.235014

 - 3550 round - train_metric: 0.222774 - valid_metric: 0.234729

 - 3600 round - train_metric: 0.222350 - valid_metric: 0.234427

 - 3650 round - train_metric: 0.221908 - valid_metric: 0.234109

 - 3700 round - train_metric: 0.221468 - valid_metric: 0.233794

 - 3750 round - train_metric: 0.221040 - valid_metric: 0.233495

 - 3800 round - train_metric: 0.220621 - valid_metric: 0.233201

 - 3850 round - train_metric: 0.220203 - valid_metric: 0.232901

 - 3900 round - train_metric: 0.219772 - valid_metric: 0.232595

 - 3950 round - train_metric: 0.219344 - valid_metric: 0.232300

 - 4000 round - train_metric: 0.218926 - valid_metric: 0.231994

 - 4050 round - train_metric: 0.218526 - valid_metric: 0.231720

 - 4100 round - train_metric: 0.218138 - valid_metric: 0.231443

 - 4150 round - train_metric: 0.217746 - valid_metric: 0.231173

 - 4200 round - train_metric: 0.217352 - valid_metric: 0.230898

 - 4250 round - train_metric: 0.216919 - valid_metric: 0.230591

 - 4300 round - train_metric: 0.216534 - valid_metric: 0.230313

 - 4350 round - train_metric: 0.216115 - valid_metric: 0.230017

 - 4400 round - train_metric: 0.215710 - valid_metric: 0.229732

 - 4450 round - train_metric: 0.215280 - valid_metric: 0.229415

- 2 amex metric: 0.768109

================================Fold 2 End================================

[LightGBM] [Info] Number of positive: 1102295, number of negative: 3322866
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 1.006787 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5665
[LightGBM] [Info] Number of data points in the train set: 4425161, number of used features: 230
[LightGBM] [Info] Using GOSS
Training until validation scores don't improve for 100 rounds
[50]	training's binary_logloss: 0.329948	valid_1's binary_logloss: 0.329799
[100]	training's binary_logloss: 0.283706	valid_1's binary_logloss: 0.28355
[150]	training's binary_logloss: 0.272929	valid_1's binary_logloss: 0.2729
[200]	training's binary_logloss: 0.268198	valid_1's binary_logloss: 0.268332
[250]	training's binary_logloss: 0.26527	valid_1's binary_logloss: 0.265579
[300]	training's binary_logloss: 0.263082	valid_1's binary_logloss: 0.263594
[350]	training's binary_logloss: 0.261357	valid_1's binary_logloss: 0.262072
[400]	training's binary_logloss: 0.259941	valid_1's binary_logloss: 0.260872
[450]	training's binary_logloss: 0.258704	valid_1's binary_logloss: 0.259849
[500]	training's binary_logloss: 0.257592	valid_1's binary_logloss: 0.258946
[550]	training's binary_logloss: 0.256572	valid_1's binary_logloss: 0.258126
[600]	training's binary_logloss: 0.25563	valid_1's binary_logloss: 0.25739
[650]	training's binary_logloss: 0.254764	valid_1's binary_logloss: 0.256711
[700]	training's binary_logloss: 0.25392	valid_1's binary_logloss: 0.256064
[750]	training's binary_logloss: 0.253131	valid_1's binary_logloss: 0.255469
[800]	training's binary_logloss: 0.252386	valid_1's binary_logloss: 0.254901
[850]	training's binary_logloss: 0.251654	valid_1's binary_logloss: 0.254361
[900]	training's binary_logloss: 0.250929	valid_1's binary_logloss: 0.253812
[950]	training's binary_logloss: 0.250245	valid_1's binary_logloss: 0.253304
[1000]	training's binary_logloss: 0.249567	valid_1's binary_logloss: 0.252806
[1050]	training's binary_logloss: 0.248904	valid_1's binary_logloss: 0.252324
[1100]	training's binary_logloss: 0.248259	valid_1's binary_logloss: 0.251851
[1150]	training's binary_logloss: 0.247602	valid_1's binary_logloss: 0.251369
[1200]	training's binary_logloss: 0.246965	valid_1's binary_logloss: 0.250912
[1250]	training's binary_logloss: 0.246393	valid_1's binary_logloss: 0.250504
[1300]	training's binary_logloss: 0.245786	valid_1's binary_logloss: 0.25007
[1350]	training's binary_logloss: 0.245186	valid_1's binary_logloss: 0.249651
[1400]	training's binary_logloss: 0.244561	valid_1's binary_logloss: 0.24919
[1450]	training's binary_logloss: 0.243956	valid_1's binary_logloss: 0.248759
[1500]	training's binary_logloss: 0.243372	valid_1's binary_logloss: 0.248347
[1550]	training's binary_logloss: 0.242754	valid_1's binary_logloss: 0.247878
[1600]	training's binary_logloss: 0.242202	valid_1's binary_logloss: 0.247484
[1650]	training's binary_logloss: 0.241611	valid_1's binary_logloss: 0.247069
[1700]	training's binary_logloss: 0.24107	valid_1's binary_logloss: 0.246678
[1750]	training's binary_logloss: 0.240516	valid_1's binary_logloss: 0.246275
[1800]	training's binary_logloss: 0.239943	valid_1's binary_logloss: 0.245876
[1850]	training's binary_logloss: 0.23943	valid_1's binary_logloss: 0.245515
[1900]	training's binary_logloss: 0.238872	valid_1's binary_logloss: 0.245099
[1950]	training's binary_logloss: 0.238341	valid_1's binary_logloss: 0.244718
[2000]	training's binary_logloss: 0.237807	valid_1's binary_logloss: 0.244337
[2050]	training's binary_logloss: 0.237241	valid_1's binary_logloss: 0.243921
[2100]	training's binary_logloss: 0.236742	valid_1's binary_logloss: 0.243593
[2150]	training's binary_logloss: 0.236238	valid_1's binary_logloss: 0.243231
[2200]	training's binary_logloss: 0.235724	valid_1's binary_logloss: 0.242867
[2250]	training's binary_logloss: 0.235198	valid_1's binary_logloss: 0.24249
[2300]	training's binary_logloss: 0.234678	valid_1's binary_logloss: 0.242129
[2350]	training's binary_logloss: 0.234171	valid_1's binary_logloss: 0.241768
[2400]	training's binary_logloss: 0.233675	valid_1's binary_logloss: 0.241417
[2450]	training's binary_logloss: 0.23321	valid_1's binary_logloss: 0.24109
[2500]	training's binary_logloss: 0.232707	valid_1's binary_logloss: 0.240731
[2550]	training's binary_logloss: 0.232196	valid_1's binary_logloss: 0.240371
[2600]	training's binary_logloss: 0.231673	valid_1's binary_logloss: 0.239995
[2650]	training's binary_logloss: 0.231215	valid_1's binary_logloss: 0.239677
[2700]	training's binary_logloss: 0.230735	valid_1's binary_logloss: 0.23934
[2750]	training's binary_logloss: 0.230251	valid_1's binary_logloss: 0.23899
[2800]	training's binary_logloss: 0.229752	valid_1's binary_logloss: 0.238631
[2850]	training's binary_logloss: 0.22928	valid_1's binary_logloss: 0.238293
[2900]	training's binary_logloss: 0.228808	valid_1's binary_logloss: 0.237955
[2950]	training's binary_logloss: 0.228345	valid_1's binary_logloss: 0.23763
[3000]	training's binary_logloss: 0.227899	valid_1's binary_logloss: 0.237321
[3050]	training's binary_logloss: 0.227404	valid_1's binary_logloss: 0.236952
[3100]	training's binary_logloss: 0.22692	valid_1's binary_logloss: 0.236608
[3150]	training's binary_logloss: 0.226451	valid_1's binary_logloss: 0.236279
[3200]	training's binary_logloss: 0.225977	valid_1's binary_logloss: 0.235931
[3250]	training's binary_logloss: 0.225509	valid_1's binary_logloss: 0.235592
[3300]	training's binary_logloss: 0.225056	valid_1's binary_logloss: 0.235272
[3350]	training's binary_logloss: 0.224613	valid_1's binary_logloss: 0.234968
[3400]	training's binary_logloss: 0.224166	valid_1's binary_logloss: 0.234651
[3450]	training's binary_logloss: 0.223715	valid_1's binary_logloss: 0.234328
[3500]	training's binary_logloss: 0.223285	valid_1's binary_logloss: 0.23403
[3550]	training's binary_logloss: 0.222834	valid_1's binary_logloss: 0.233704
[3600]	training's binary_logloss: 0.222424	valid_1's binary_logloss: 0.233424
[3650]	training's binary_logloss: 0.221986	valid_1's binary_logloss: 0.233108
[3700]	training's binary_logloss: 0.221546	valid_1's binary_logloss: 0.232784
[3750]	training's binary_logloss: 0.221093	valid_1's binary_logloss: 0.232452
[3800]	training's binary_logloss: 0.220673	valid_1's binary_logloss: 0.232158
[3850]	training's binary_logloss: 0.220239	valid_1's binary_logloss: 0.231847
[3900]	training's binary_logloss: 0.219798	valid_1's binary_logloss: 0.231533
[3950]	training's binary_logloss: 0.219389	valid_1's binary_logloss: 0.231251
[4000]	training's binary_logloss: 0.218975	valid_1's binary_logloss: 0.230957
[4050]	training's binary_logloss: 0.218573	valid_1's binary_logloss: 0.230677
[4100]	training's binary_logloss: 0.218164	valid_1's binary_logloss: 0.230379
[4150]	training's binary_logloss: 0.217758	valid_1's binary_logloss: 0.230098
[4200]	training's binary_logloss: 0.21733	valid_1's binary_logloss: 0.229783
[4250]	training's binary_logloss: 0.216905	valid_1's binary_logloss: 0.229477
[4300]	training's binary_logloss: 0.216489	valid_1's binary_logloss: 0.229178
[4350]	training's binary_logloss: 0.21607	valid_1's binary_logloss: 0.228874
[4400]	training's binary_logloss: 0.215662	valid_1's binary_logloss: 0.228582
[4450]	training's binary_logloss: 0.215239	valid_1's binary_logloss: 0.228275
[4500]	training's binary_logloss: 0.214827	valid_1's binary_logloss: 0.227985
Did not meet early stopping. Best iteration is:
[4500]	training's binary_logloss: 0.214827	valid_1's binary_logloss: 0.227985
================================Fold 3 start================================

 - 0 round - train_metric: 0.672509 - valid_metric: 0.672504

 - 50 round - train_metric: 0.328047 - valid_metric: 0.327896

 - 100 round - train_metric: 0.283345 - valid_metric: 0.283195

 - 150 round - train_metric: 0.272811 - valid_metric: 0.272787

 - 200 round - train_metric: 0.268135 - valid_metric: 0.268272

 - 250 round - train_metric: 0.265219 - valid_metric: 0.265535

 - 300 round - train_metric: 0.263043 - valid_metric: 0.263563

 - 350 round - train_metric: 0.261323 - valid_metric: 0.262043

 - 400 round - train_metric: 0.259913 - valid_metric: 0.260848

 - 450 round - train_metric: 0.258688 - valid_metric: 0.259836

 - 500 round - train_metric: 0.257572 - valid_metric: 0.258932

 - 550 round - train_metric: 0.256557 - valid_metric: 0.258116

 - 600 round - train_metric: 0.255613 - valid_metric: 0.257377

 - 650 round - train_metric: 0.254747 - valid_metric: 0.256697

 - 700 round - train_metric: 0.253903 - valid_metric: 0.256052

 - 750 round - train_metric: 0.253115 - valid_metric: 0.255456

 - 800 round - train_metric: 0.252367 - valid_metric: 0.254885

 - 850 round - train_metric: 0.251638 - valid_metric: 0.254350

 - 900 round - train_metric: 0.250913 - valid_metric: 0.253799

 - 950 round - train_metric: 0.250230 - valid_metric: 0.253292

 - 1000 round - train_metric: 0.249551 - valid_metric: 0.252794

 - 1050 round - train_metric: 0.248889 - valid_metric: 0.252313

 - 1100 round - train_metric: 0.248240 - valid_metric: 0.251836

 - 1150 round - train_metric: 0.247588 - valid_metric: 0.251360

 - 1200 round - train_metric: 0.246953 - valid_metric: 0.250902

 - 1250 round - train_metric: 0.246380 - valid_metric: 0.250493

 - 1300 round - train_metric: 0.245774 - valid_metric: 0.250061

 - 1350 round - train_metric: 0.245174 - valid_metric: 0.249642

 - 1400 round - train_metric: 0.244548 - valid_metric: 0.249179

 - 1450 round - train_metric: 0.243946 - valid_metric: 0.248752

 - 1500 round - train_metric: 0.243362 - valid_metric: 0.248341

 - 1550 round - train_metric: 0.242744 - valid_metric: 0.247871

 - 1600 round - train_metric: 0.242191 - valid_metric: 0.247477

 - 1650 round - train_metric: 0.241601 - valid_metric: 0.247061

 - 1700 round - train_metric: 0.241058 - valid_metric: 0.246669

 - 1750 round - train_metric: 0.240505 - valid_metric: 0.246268

 - 1800 round - train_metric: 0.239934 - valid_metric: 0.245872

 - 1850 round - train_metric: 0.239417 - valid_metric: 0.245506

 - 1900 round - train_metric: 0.238859 - valid_metric: 0.245088

 - 1950 round - train_metric: 0.238325 - valid_metric: 0.244705

 - 2000 round - train_metric: 0.237795 - valid_metric: 0.244328

 - 2050 round - train_metric: 0.237234 - valid_metric: 0.243917

 - 2100 round - train_metric: 0.236734 - valid_metric: 0.243590

 - 2150 round - train_metric: 0.236227 - valid_metric: 0.243225

 - 2200 round - train_metric: 0.235714 - valid_metric: 0.242861

 - 2250 round - train_metric: 0.235191 - valid_metric: 0.242487

 - 2300 round - train_metric: 0.234670 - valid_metric: 0.242123

 - 2350 round - train_metric: 0.234164 - valid_metric: 0.241764

 - 2400 round - train_metric: 0.233667 - valid_metric: 0.241412

 - 2450 round - train_metric: 0.233200 - valid_metric: 0.241084

 - 2500 round - train_metric: 0.232698 - valid_metric: 0.240725

 - 2550 round - train_metric: 0.232182 - valid_metric: 0.240359

 - 2600 round - train_metric: 0.231668 - valid_metric: 0.239993

 - 2650 round - train_metric: 0.231204 - valid_metric: 0.239669

 - 2700 round - train_metric: 0.230727 - valid_metric: 0.239333

 - 2750 round - train_metric: 0.230244 - valid_metric: 0.238985

 - 2800 round - train_metric: 0.229743 - valid_metric: 0.238624

 - 2850 round - train_metric: 0.229270 - valid_metric: 0.238286

 - 2900 round - train_metric: 0.228799 - valid_metric: 0.237948

 - 2950 round - train_metric: 0.228333 - valid_metric: 0.237619

 - 3000 round - train_metric: 0.227887 - valid_metric: 0.237312

 - 3050 round - train_metric: 0.227396 - valid_metric: 0.236947

 - 3100 round - train_metric: 0.226911 - valid_metric: 0.236600

 - 3150 round - train_metric: 0.226444 - valid_metric: 0.236274

 - 3200 round - train_metric: 0.225966 - valid_metric: 0.235923

 - 3250 round - train_metric: 0.225500 - valid_metric: 0.235585

 - 3300 round - train_metric: 0.225050 - valid_metric: 0.235268

 - 3350 round - train_metric: 0.224602 - valid_metric: 0.234960

 - 3400 round - train_metric: 0.224154 - valid_metric: 0.234640

 - 3450 round - train_metric: 0.223709 - valid_metric: 0.234325

 - 3500 round - train_metric: 0.223276 - valid_metric: 0.234023

 - 3550 round - train_metric: 0.222827 - valid_metric: 0.233699

 - 3600 round - train_metric: 0.222416 - valid_metric: 0.233419

 - 3650 round - train_metric: 0.221980 - valid_metric: 0.233104

 - 3700 round - train_metric: 0.221536 - valid_metric: 0.232778

 - 3750 round - train_metric: 0.221085 - valid_metric: 0.232447

 - 3800 round - train_metric: 0.220663 - valid_metric: 0.232152

 - 3850 round - train_metric: 0.220234 - valid_metric: 0.231842

 - 3900 round - train_metric: 0.219785 - valid_metric: 0.231522

 - 3950 round - train_metric: 0.219377 - valid_metric: 0.231240

 - 4000 round - train_metric: 0.218969 - valid_metric: 0.230954

 - 4050 round - train_metric: 0.218565 - valid_metric: 0.230671

 - 4100 round - train_metric: 0.218159 - valid_metric: 0.230377

 - 4150 round - train_metric: 0.217752 - valid_metric: 0.230095

 - 4200 round - train_metric: 0.217322 - valid_metric: 0.229778

 - 4250 round - train_metric: 0.216897 - valid_metric: 0.229472

 - 4300 round - train_metric: 0.216478 - valid_metric: 0.229169

 - 4350 round - train_metric: 0.216063 - valid_metric: 0.228870

 - 4400 round - train_metric: 0.215654 - valid_metric: 0.228576

 - 4450 round - train_metric: 0.215229 - valid_metric: 0.228267

- 3 amex metric: 0.770484

================================Fold 3 End================================

[LightGBM] [Info] Number of positive: 1102295, number of negative: 3322866
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 1.018079 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 5700
[LightGBM] [Info] Number of data points in the train set: 4425161, number of used features: 230
[LightGBM] [Info] Using GOSS
Training until validation scores don't improve for 100 rounds
[50]	training's binary_logloss: 0.329668	valid_1's binary_logloss: 0.330376
[100]	training's binary_logloss: 0.283378	valid_1's binary_logloss: 0.284452
[150]	training's binary_logloss: 0.272621	valid_1's binary_logloss: 0.273982
[200]	training's binary_logloss: 0.26793	valid_1's binary_logloss: 0.269561
[250]	training's binary_logloss: 0.26502	valid_1's binary_logloss: 0.26688
[300]	training's binary_logloss: 0.262813	valid_1's binary_logloss: 0.264884
[350]	training's binary_logloss: 0.261124	valid_1's binary_logloss: 0.263391
[400]	training's binary_logloss: 0.259644	valid_1's binary_logloss: 0.262122
[450]	training's binary_logloss: 0.258379	valid_1's binary_logloss: 0.261059
[500]	training's binary_logloss: 0.257271	valid_1's binary_logloss: 0.260151
[550]	training's binary_logloss: 0.25624	valid_1's binary_logloss: 0.259319
[600]	training's binary_logloss: 0.255313	valid_1's binary_logloss: 0.258593
[650]	training's binary_logloss: 0.254443	valid_1's binary_logloss: 0.25791
[700]	training's binary_logloss: 0.253599	valid_1's binary_logloss: 0.257236
[750]	training's binary_logloss: 0.2528	valid_1's binary_logloss: 0.256621
[800]	training's binary_logloss: 0.252058	valid_1's binary_logloss: 0.256053
[850]	training's binary_logloss: 0.251334	valid_1's binary_logloss: 0.255502
[900]	training's binary_logloss: 0.250655	valid_1's binary_logloss: 0.254998
[950]	training's binary_logloss: 0.250006	valid_1's binary_logloss: 0.254522
[1000]	training's binary_logloss: 0.249302	valid_1's binary_logloss: 0.253977
[1050]	training's binary_logloss: 0.248641	valid_1's binary_logloss: 0.253481
[1100]	training's binary_logloss: 0.247995	valid_1's binary_logloss: 0.253004
[1150]	training's binary_logloss: 0.247369	valid_1's binary_logloss: 0.252553
[1200]	training's binary_logloss: 0.246738	valid_1's binary_logloss: 0.252082
[1250]	training's binary_logloss: 0.246138	valid_1's binary_logloss: 0.25164
[1300]	training's binary_logloss: 0.245545	valid_1's binary_logloss: 0.251204
[1350]	training's binary_logloss: 0.244946	valid_1's binary_logloss: 0.250755
[1400]	training's binary_logloss: 0.244349	valid_1's binary_logloss: 0.250323
[1450]	training's binary_logloss: 0.243733	valid_1's binary_logloss: 0.249866
[1500]	training's binary_logloss: 0.243161	valid_1's binary_logloss: 0.249455
[1550]	training's binary_logloss: 0.242584	valid_1's binary_logloss: 0.249036
[1600]	training's binary_logloss: 0.24198	valid_1's binary_logloss: 0.248589
[1650]	training's binary_logloss: 0.241441	valid_1's binary_logloss: 0.248201
[1700]	training's binary_logloss: 0.240909	valid_1's binary_logloss: 0.247813
[1750]	training's binary_logloss: 0.240318	valid_1's binary_logloss: 0.247369
[1800]	training's binary_logloss: 0.239773	valid_1's binary_logloss: 0.246969
[1850]	training's binary_logloss: 0.239249	valid_1's binary_logloss: 0.246593
[1900]	training's binary_logloss: 0.238719	valid_1's binary_logloss: 0.246217
[1950]	training's binary_logloss: 0.238213	valid_1's binary_logloss: 0.245852
[2000]	training's binary_logloss: 0.237692	valid_1's binary_logloss: 0.245482
[2050]	training's binary_logloss: 0.237168	valid_1's binary_logloss: 0.245111
[2100]	training's binary_logloss: 0.236634	valid_1's binary_logloss: 0.24473
[2150]	training's binary_logloss: 0.236134	valid_1's binary_logloss: 0.244373
[2200]	training's binary_logloss: 0.235636	valid_1's binary_logloss: 0.244028
[2250]	training's binary_logloss: 0.235101	valid_1's binary_logloss: 0.243629
[2300]	training's binary_logloss: 0.234602	valid_1's binary_logloss: 0.243263
[2350]	training's binary_logloss: 0.234095	valid_1's binary_logloss: 0.242898
[2400]	training's binary_logloss: 0.233586	valid_1's binary_logloss: 0.242533
[2450]	training's binary_logloss: 0.233107	valid_1's binary_logloss: 0.242182
[2500]	training's binary_logloss: 0.232629	valid_1's binary_logloss: 0.241841
[2550]	training's binary_logloss: 0.232131	valid_1's binary_logloss: 0.241466
[2600]	training's binary_logloss: 0.231661	valid_1's binary_logloss: 0.241118
[2650]	training's binary_logloss: 0.231153	valid_1's binary_logloss: 0.240747
[2700]	training's binary_logloss: 0.230679	valid_1's binary_logloss: 0.240408
[2750]	training's binary_logloss: 0.230212	valid_1's binary_logloss: 0.240082
[2800]	training's binary_logloss: 0.229736	valid_1's binary_logloss: 0.239738
[2850]	training's binary_logloss: 0.22925	valid_1's binary_logloss: 0.239387
[2900]	training's binary_logloss: 0.228782	valid_1's binary_logloss: 0.239053
[2950]	training's binary_logloss: 0.228315	valid_1's binary_logloss: 0.238717
[3000]	training's binary_logloss: 0.227843	valid_1's binary_logloss: 0.238387
[3050]	training's binary_logloss: 0.227351	valid_1's binary_logloss: 0.238029
[3100]	training's binary_logloss: 0.226914	valid_1's binary_logloss: 0.237724
[3150]	training's binary_logloss: 0.226467	valid_1's binary_logloss: 0.237407
[3200]	training's binary_logloss: 0.226005	valid_1's binary_logloss: 0.237074
[3250]	training's binary_logloss: 0.225543	valid_1's binary_logloss: 0.236746
[3300]	training's binary_logloss: 0.225115	valid_1's binary_logloss: 0.236448
[3350]	training's binary_logloss: 0.224658	valid_1's binary_logloss: 0.236116
[3400]	training's binary_logloss: 0.22421	valid_1's binary_logloss: 0.2358
[3450]	training's binary_logloss: 0.223764	valid_1's binary_logloss: 0.235474
[3500]	training's binary_logloss: 0.223317	valid_1's binary_logloss: 0.235148
[3550]	training's binary_logloss: 0.222872	valid_1's binary_logloss: 0.234833
[3600]	training's binary_logloss: 0.222431	valid_1's binary_logloss: 0.234517
[3650]	training's binary_logloss: 0.221962	valid_1's binary_logloss: 0.234173
[3700]	training's binary_logloss: 0.221547	valid_1's binary_logloss: 0.233887
[3750]	training's binary_logloss: 0.221107	valid_1's binary_logloss: 0.233572
[3800]	training's binary_logloss: 0.220673	valid_1's binary_logloss: 0.233262
[3850]	training's binary_logloss: 0.220244	valid_1's binary_logloss: 0.232958
[3900]	training's binary_logloss: 0.219803	valid_1's binary_logloss: 0.232629
[3950]	training's binary_logloss: 0.2194	valid_1's binary_logloss: 0.232345
[4000]	training's binary_logloss: 0.218964	valid_1's binary_logloss: 0.232032
[4050]	training's binary_logloss: 0.218524	valid_1's binary_logloss: 0.231714
[4100]	training's binary_logloss: 0.218104	valid_1's binary_logloss: 0.231415
[4150]	training's binary_logloss: 0.217684	valid_1's binary_logloss: 0.231119
[4200]	training's binary_logloss: 0.217264	valid_1's binary_logloss: 0.230819
[4250]	training's binary_logloss: 0.216835	valid_1's binary_logloss: 0.230517
[4300]	training's binary_logloss: 0.216444	valid_1's binary_logloss: 0.230241
[4350]	training's binary_logloss: 0.216034	valid_1's binary_logloss: 0.229942
[4400]	training's binary_logloss: 0.215601	valid_1's binary_logloss: 0.22963
[4450]	training's binary_logloss: 0.215201	valid_1's binary_logloss: 0.229337
[4500]	training's binary_logloss: 0.214806	valid_1's binary_logloss: 0.22906
Did not meet early stopping. Best iteration is:
[4500]	training's binary_logloss: 0.214806	valid_1's binary_logloss: 0.22906
================================Fold 4 start================================

 - 0 round - train_metric: 0.672494 - valid_metric: 0.672524

 - 50 round - train_metric: 0.327770 - valid_metric: 0.328485

 - 100 round - train_metric: 0.283021 - valid_metric: 0.284103

 - 150 round - train_metric: 0.272495 - valid_metric: 0.273858

 - 200 round - train_metric: 0.267867 - valid_metric: 0.269503

 - 250 round - train_metric: 0.264971 - valid_metric: 0.266837

 - 300 round - train_metric: 0.262769 - valid_metric: 0.264842

 - 350 round - train_metric: 0.261092 - valid_metric: 0.263363

 - 400 round - train_metric: 0.259618 - valid_metric: 0.262101

 - 450 round - train_metric: 0.258353 - valid_metric: 0.261035

 - 500 round - train_metric: 0.257253 - valid_metric: 0.260137

 - 550 round - train_metric: 0.256224 - valid_metric: 0.259305

 - 600 round - train_metric: 0.255298 - valid_metric: 0.258584

 - 650 round - train_metric: 0.254426 - valid_metric: 0.257896

 - 700 round - train_metric: 0.253578 - valid_metric: 0.257218

 - 750 round - train_metric: 0.252784 - valid_metric: 0.256608

 - 800 round - train_metric: 0.252044 - valid_metric: 0.256042

 - 850 round - train_metric: 0.251316 - valid_metric: 0.255487

 - 900 round - train_metric: 0.250639 - valid_metric: 0.254987

 - 950 round - train_metric: 0.249994 - valid_metric: 0.254512

 - 1000 round - train_metric: 0.249287 - valid_metric: 0.253965

 - 1050 round - train_metric: 0.248635 - valid_metric: 0.253477

 - 1100 round - train_metric: 0.247980 - valid_metric: 0.252993

 - 1150 round - train_metric: 0.247354 - valid_metric: 0.252542

 - 1200 round - train_metric: 0.246725 - valid_metric: 0.252072

 - 1250 round - train_metric: 0.246127 - valid_metric: 0.251631

 - 1300 round - train_metric: 0.245533 - valid_metric: 0.251195

 - 1350 round - train_metric: 0.244936 - valid_metric: 0.250748

 - 1400 round - train_metric: 0.244341 - valid_metric: 0.250319

 - 1450 round - train_metric: 0.243721 - valid_metric: 0.249857

 - 1500 round - train_metric: 0.243150 - valid_metric: 0.249448

 - 1550 round - train_metric: 0.242572 - valid_metric: 0.249026

 - 1600 round - train_metric: 0.241968 - valid_metric: 0.248580

 - 1650 round - train_metric: 0.241434 - valid_metric: 0.248197

 - 1700 round - train_metric: 0.240895 - valid_metric: 0.247803

 - 1750 round - train_metric: 0.240308 - valid_metric: 0.247361

 - 1800 round - train_metric: 0.239765 - valid_metric: 0.246963

 - 1850 round - train_metric: 0.239244 - valid_metric: 0.246590

 - 1900 round - train_metric: 0.238710 - valid_metric: 0.246211

 - 1950 round - train_metric: 0.238197 - valid_metric: 0.245839

 - 2000 round - train_metric: 0.237685 - valid_metric: 0.245478

 - 2050 round - train_metric: 0.237155 - valid_metric: 0.245101

 - 2100 round - train_metric: 0.236624 - valid_metric: 0.244724

 - 2150 round - train_metric: 0.236124 - valid_metric: 0.244368

 - 2200 round - train_metric: 0.235629 - valid_metric: 0.244022

 - 2250 round - train_metric: 0.235094 - valid_metric: 0.243625

 - 2300 round - train_metric: 0.234592 - valid_metric: 0.243256

 - 2350 round - train_metric: 0.234087 - valid_metric: 0.242894

 - 2400 round - train_metric: 0.233576 - valid_metric: 0.242527

 - 2450 round - train_metric: 0.233096 - valid_metric: 0.242175

 - 2500 round - train_metric: 0.232618 - valid_metric: 0.241833

 - 2550 round - train_metric: 0.232123 - valid_metric: 0.241460

 - 2600 round - train_metric: 0.231649 - valid_metric: 0.241107

 - 2650 round - train_metric: 0.231142 - valid_metric: 0.240738

 - 2700 round - train_metric: 0.230670 - valid_metric: 0.240403

 - 2750 round - train_metric: 0.230202 - valid_metric: 0.240076

 - 2800 round - train_metric: 0.229728 - valid_metric: 0.239733

 - 2850 round - train_metric: 0.229239 - valid_metric: 0.239379

 - 2900 round - train_metric: 0.228773 - valid_metric: 0.239046

 - 2950 round - train_metric: 0.228302 - valid_metric: 0.238708

 - 3000 round - train_metric: 0.227834 - valid_metric: 0.238381

 - 3050 round - train_metric: 0.227342 - valid_metric: 0.238021

 - 3100 round - train_metric: 0.226907 - valid_metric: 0.237719

 - 3150 round - train_metric: 0.226459 - valid_metric: 0.237400

 - 3200 round - train_metric: 0.225996 - valid_metric: 0.237065

 - 3250 round - train_metric: 0.225530 - valid_metric: 0.236734

 - 3300 round - train_metric: 0.225106 - valid_metric: 0.236441

 - 3350 round - train_metric: 0.224650 - valid_metric: 0.236110

 - 3400 round - train_metric: 0.224202 - valid_metric: 0.235794

 - 3450 round - train_metric: 0.223759 - valid_metric: 0.235471

 - 3500 round - train_metric: 0.223313 - valid_metric: 0.235147

 - 3550 round - train_metric: 0.222866 - valid_metric: 0.234829

 - 3600 round - train_metric: 0.222419 - valid_metric: 0.234505

 - 3650 round - train_metric: 0.221955 - valid_metric: 0.234169

 - 3700 round - train_metric: 0.221539 - valid_metric: 0.233882

 - 3750 round - train_metric: 0.221097 - valid_metric: 0.233564

 - 3800 round - train_metric: 0.220666 - valid_metric: 0.233257

 - 3850 round - train_metric: 0.220236 - valid_metric: 0.232952

 - 3900 round - train_metric: 0.219797 - valid_metric: 0.232624

 - 3950 round - train_metric: 0.219391 - valid_metric: 0.232339

 - 4000 round - train_metric: 0.218956 - valid_metric: 0.232026

 - 4050 round - train_metric: 0.218517 - valid_metric: 0.231710

 - 4100 round - train_metric: 0.218095 - valid_metric: 0.231409

 - 4150 round - train_metric: 0.217676 - valid_metric: 0.231113

 - 4200 round - train_metric: 0.217254 - valid_metric: 0.230811

 - 4250 round - train_metric: 0.216826 - valid_metric: 0.230512

 - 4300 round - train_metric: 0.216436 - valid_metric: 0.230234

 - 4350 round - train_metric: 0.216029 - valid_metric: 0.229940

 - 4400 round - train_metric: 0.215589 - valid_metric: 0.229621

 - 4450 round - train_metric: 0.215192 - valid_metric: 0.229330

- 4 amex metric: 0.769364

================================Fold 4 End================================

All mean metric:0.769329, global metric:0.769331

In [3]:
# release memory
del train_x
del train_y

# loading testing data
test = pd.read_feather('./data/test_x_denoised.feather')
test.head(2)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
0,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-02-19,0.629883,0.000000,0.010002,0.810059,0.010002,0.170044,0.010002,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.010002,0.0
1,00000469ba478561f23a92a868bd366de6f6527a684c9a...,2019-03-25,0.589844,0.010002,0.010002,0.810059,0.000000,0.239990,0.000000,0.010002,...,0.0,0.0,0.0,0.0,0.0,0.010002,0.0,0.0,0.000000,0.0

In [4]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11363762 entries, 0 to 11363761
Columns: 190 entries, customer_ID to D_145
dtypes: float16(176), int8(12), object(2)
memory usage: 4.0+ GB

In [7]:
# merge train and test before onehot
data = pd.concat([training, test], axis=0)

data.head()

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145,target
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,93.0,0.0,0.0,100.0,0.0,12.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,93.0,0.0,0.0,100.0,0.0,12.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,95.0,9.0,2.0,101.0,0.0,12.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,96.0,0.0,1.0,100.0,0.0,11.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,94.0,0.0,1.0,100.0,0.0,11.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
del training
del test

# onehot encoding
data_onehot = one_hot_encoding(data, categorical_features, is_drop=True)
data_onehot.head()

one hot encoding: B_30
one hot encoding: B_38
one hot encoding: D_114
one hot encoding: D_116
one hot encoding: D_117
one hot encoding: D_120
one hot encoding: D_126
one hot encoding: D_63
one hot encoding: D_64
one hot encoding: D_66
one hot encoding: D_68

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,one_hot_D_66_0,one_hot_D_66_1,one_hot_D_68_-1,one_hot_D_68_0,one_hot_D_68_1,one_hot_D_68_2,one_hot_D_68_3,one_hot_D_68_4,one_hot_D_68_5,one_hot_D_68_6
0,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-03-09,93.0,0.0,0.0,100.0,0.0,12.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
1,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-04-07,93.0,0.0,0.0,100.0,0.0,12.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-05-28,95.0,9.0,2.0,101.0,0.0,12.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
3,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-06-13,96.0,0.0,1.0,100.0,0.0,11.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
4,0000099d6bd597052cdcda90ffabf56573fe9d7c79be5f...,2017-07-16,94.0,0.0,1.0,100.0,0.0,11.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
# split test data out
testing = data_onehot[data_onehot['target'].isna()]

del data_onehot

In [17]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11363762 entries, 0 to 11363761
Columns: 233 entries, customer_ID to one_hot_D_68_6
dtypes: float32(176), float64(1), int16(1), object(2), uint8(53)
memory usage: 8.4+ GB

In [18]:
# fillna
for c in tqdm(numerical_features):
    testing[c] = testing[c].fillna(0)

100%|██████████| 178/178 [1:20:28<00:00, 27.13s/it]

In [19]:
# normalization
for c in tqdm(numerical_features):
    testing[c] = testing[c] / 100

100%|██████████| 178/178 [00:17<00:00, 10.28it/s]

In [20]:
# convert to float16 to save memory
for c in tqdm(numerical_features):
    testing[c] = testing[c].astype(np.float16)

100%|██████████| 178/178 [00:15<00:00, 11.68it/s]

In [22]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11363762 entries, 0 to 11363761
Columns: 233 entries, customer_ID to one_hot_D_68_6
dtypes: float16(178), object(2), uint8(53)
memory usage: 4.6+ GB

In [ ]:
# loading prediction
def predict(data, model_path=None):
    """ predict and generate submission file
    """
    # create submission dataframe
    submission = data[self.id]
    submission["prediction"] = 0
    # looping all the folds
    for fold in range(self.n_folds):
        # generate model file path
        model_path = self.output_path if model_path is None else model_path
        model_file = os.path.join(model_path, f"{fold}.ckpt")
        # loading model
        model = lgb.Booster(model_file=model_file)
        test_preds = model.predict(
            data[self.features], num_iteration=model.best_iteration
        )
        submission["prediction"] += test_preds / self.n_folds
    # save to local disk
    submission.to_csv(
        os.path.join(model_path, "submission.csv.zip"),
        compression="zip",
        index=False,
    )

In [24]:
submission = testing[customer_id_column]
submission["prediction"] = 0

submission.head()

                                         customer_ID  prediction
0  00000469ba478561f23a92a868bd366de6f6527a684c9a...           0
1  00000469ba478561f23a92a868bd366de6f6527a684c9a...           0
2  00000469ba478561f23a92a868bd366de6f6527a684c9a...           0
3  00000469ba478561f23a92a868bd366de6f6527a684c9a...           0
4  00000469ba478561f23a92a868bd366de6f6527a684c9a...           0

In [28]:
model_features = [c for c in testing.columns if c not in (customer_id_column + date_column + label)]

In [31]:
model_path = './model/lightGBM_raw_feature_20221127_153356/'
model_file = os.path.join(model_path, "0.ckpt")
# loading model
model = lgb.Booster(model_file=model_file)
# prediction
test_preds = model.predict(
    testing[model_features], num_iteration=model.best_iteration
)

In [32]:
submission["prediction"] = test_preds
submission.head()

                                         customer_ID  prediction
0  00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.319382
1  00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.472452
2  00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.409810
3  00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.589523
4  00000469ba478561f23a92a868bd366de6f6527a684c9a...    0.528990

In [33]:
# save to local disk
submission.to_csv(
    os.path.join(model_path, "submission.csv.zip"),
    compression="zip",
    index=False,
)